[2020-04-09 17:21] cevian opened #19 "Change service name in helm charts"
Service name should be timescale-prometheus-connector not timescale-prometheus. Otherwise confusing for users.

[2020-04-15 13:11] jgrexa opened #28 "panic: runtime error: invalid memory address or nil pointer dereference"
I encountered following issue during testing the adapter. It was working for several hours, then the pods got into crashloop:
[code]

[2020-04-15 18:21] cevian commented on #28
Thank you @jgrexa for the report. I believe this is fixed in #24 . Can @JLockerman confirm?

[2020-04-15 19:34] jgrexa commented on #28
I have compiled latest version and the problem no longer appears.

[2020-04-15 19:34] #28 closed

[2020-04-17 19:06] Atomicbeast101 opened #36 "Current leader metric in /metrics for HA setups"
Having a metric like `current_leader 1` in /metrics would allow us to know which adapter in HA setup is the current leader. This can help us identify which one's leading and/or if there's any flipping going on between adapters.

[2020-04-21 12:01] #36 closed

[2020-04-23 19:19] jpigree opened #47 "Can't find timescale/timescale-observability chart in timescale repository"
Hi. I am new to timescaleDB. I am searching for a way to install it and send my Prometheus instances data on it. The [recommended way ](https://github.com/timescale/timescale-prometheus#quick-start-with-helm-recommended) is to use the timescale-observability chart.

However, it isn't available in the timescale chart repository.
[code]

I will use the helm-git plugin to install it. However it would

[2020-04-23 19:26] jpigree opened #48 "Production setup installation"
Hi. I am new to timescaleDB. I am searching for a way to install it and send my Prometheus instances data on it. The recommended way is to use the timescale-observability Helm chart.

Is this production ready? Or should I use instead the [Timescale AWS AMI](https://docs.timescale.com/latest/getting-started/installation/ami/installation-ubuntu-ami) for more stability?

Thanks for your help!

[2020-04-24 13:19] antekresic opened #50 "Remove/replace language internal SQL functions"
In our SQL scripts, we are using `LANGUAGE internal` for two functions. Namely:
`label_jsonb_each_text` and `label_unnest`.

Usage of this language is considered un-trusted by many DB providers and we remove or replace them with their equivalents in a trusted language.

[2020-04-24 13:22] antekresic opened #51 "Fail connector startup when schema migration fails"
Right now, the connector ignores if the schema migration fails at startup. It should fail to startup in such instances since it depends on it being properly created.

[2020-04-24 13:37] antekresic opened #52 "Add custom logger to caching config"
Currently used caching lib, bigcache, outputs its logs to standard out.

We should set a custom logger to it that conforms the format of the global logging lib and only outputs the logs to debug level.

[2020-04-24 16:58] cevian commented on #48
Hi @jpigree. TimescaleDB is production ready but this adapter is not. It's currently in alpha, and we don't support updates yet. We encourage you to test it out and we should be getting out of alpha within a short period of time, after which we will support updates.

[2020-04-24 17:01] cevian commented on #47
These charts are in pre-production and so you need to include `--version=0.1.0-alpha.2` to the helm command because helm does not install or list alpha versions by default. The 0.1.0 chart should be out shortly

[2020-04-27 10:08] oliverpjames opened #56 "Helm 2 support"
The `apiVersion` in `Chart.yaml` is set to `v2 `. This stops people with Helm 2 from using this chart.

When I change it to `v1` and use the chart seems to work. Is there a reason why it has been set to `v2`?
Could we change it to `v1` so people stuck on Helm 2 can use the chart?

[2020-04-27 10:51] antekresic opened #57 "Create customize scripts for generating chart compatible secrets"

[2020-04-27 18:56] jpigree commented on #48
Okay. I will continue to experiment with it until the release.
Thanks for your reply.

[2020-04-27 18:56] #48 closed

[2020-04-27 18:59] jpigree commented on #47
Thanks. I didn't know that helm hide the alpha versions. It works with the version you mentioned.

[2020-04-27 18:59] #47 closed

[2020-04-28 12:59] #51 closed

[2020-04-29 11:04] samsk opened #63 "Feature: Provide also direct PromQL interface"
It would be usefull if timescale-prometheus would also provide PromQL interface, to avoid additional data roundtrip via Prometheus when querying data via PromQL.
This should improve performance, reduce load on Prometheus and also maybe allow further SQL query optimizations. There is also problem, that when you are running multiple parallel prometheuses (HA setup), which one should handle do the re

[2020-04-29 19:29] #52 closed

[2020-04-30 02:10] jpigree opened #64 "Read only prometheus with timescaledb remote storage"
Hi. I have trouble setting up a prometheus instance which only reads data from a timescaleDB remote storage.

### What I tried to do

My idea is to have 2 prometheus instances. One which writes data in a timescale db and another which reads the data from the same timescale db. I use the` timescale-observability` chart to setup `timescaledb` + `timescale-prometheus` (read) + `prometheus` + `grafana

[2020-04-30 02:28] jpigree commented on #64
Damn, I tried to query the data directly in Grafana after creating this ticket. Yes, the data is available this way. It is just weird that prometheus won't show any of those data itself. We have to query it without any autocompletion. :/

[2020-04-30 02:38] #64 closed

[2020-04-30 08:20] antekresic opened #65 "Add example on how to connect to an instance when you have a postgres connection string"
We need to make it more clear in the helm charts documentation how to use it when you supply a connection string from an existing TimescaleDB instance.

[2020-05-05 15:38] cevian commented on #50
Addressed by PR #58 and will be tested by PR #73

[2020-05-05 15:38] #50 closed

[2020-05-05 15:42] cevian commented on #19
Fixed by #74

[2020-05-05 15:42] #19 closed

[2020-05-08 03:05] jpigree opened #83 "Cronjob drop-chunk failing"
I have installed the `timescale-observability` stack (`timescaledb` + `timescale-prometheus` + `prometheus`), version `0.1.0-alpha.3` and managed to make it work.

 However, I notice from times to times a pod of the `drop-chunk` cronjob in `CrashLoopBackOff` state:
`metrics-timescale-prometheus-drop-chunk-1588905000-9t4rs   0/1     CrashLoopBackOff   5          5m1s`

When I look at the logs, I ha

[2020-05-08 03:06] jpigree commented on #83
I created a PR to fix this issue.

[2020-05-08 12:19] Atomicbeast101 opened #86 "Document various ways to delete data"
Prometheus offers an option to delete some metrics via their API, however that doesn't impact any data through remote read/write. Is there a way for me to delete metrics through PostgreSQL?

I could not find any documentation on how to do this. Perhaps a section in the design document or Wiki to show how to do metric deletions would be beneficial?

[2020-05-08 13:46] ismailyenigul opened #87 "ERROR: insert/update/delete not permitted on chunk"
I installed timescale-prometheus from timescale-observability helm chart.
There was an issue with prometheus remote_write remote_read configuration. So timescale-prometheus was not receiving the metrics from prometheus for 10 hours.
I updated prometheus settings to point the right timescale-prometheus connector url. It was working fine but after a while I started the receiving the following errors

[2020-05-08 17:08] #83 closed

[2020-05-11 22:41] akulkarni opened #90 "Product Feedback Wanted: CLI or REST API for setting data retention period?"
Currently, setting a default data retention period requires executing a SQL command, e.g.,:

`SELECT set_default_retention_period(180 * INTERVAL '1 day')`

As a user, would you prefer to set this via a CLI or REST API instead?

Welcome any comments.

[2020-05-15 02:01] akulkarni commented on #63
Thanks for the thoughtful comment. We're discussing the best way to add a PromQL interface directly to timescale-prometheus. We'll aim to keep this issue updated.

Glad to hear! Out of curiosity, what kinds of analytics are you looking to run? (eg what kinds of queries?)

[2020-05-15 08:12] samsk commented on #63
Mostly outage reports now, what components fail, when, how often, critical components uptime (for status page) etc... Later mabye smth. more advanced.

[2020-05-15 15:46] akulkarni commented on #86
Yes, there are two ways to delete metrics through PostgreSQL/TimescaleDB:

- Manually delete data older than (or newer than) a specified time: https://docs.timescale.com/latest/api#drop_chunks

- Add a new data retention policy: https://docs.timescale.com/latest/api#add_drop_chunks_policy

I agree re: better documentation. Might be best in this repo. Will chat with the team. Thanks!

[2020-05-15 15:48] akulkarni commented on #86
Related: Would you prefer the ability to delete metrics via the Connector directly (eg REST API)?

(See #90)

[2020-05-15 15:52] Atomicbeast101 commented on #86
Ability to do it via REST API would probably be beneficial as Prometheus has this feature too.

[2020-05-15 16:00] akulkarni commented on #87
Hi @ismailyenigul I notice you have also been active on Slack. Did this get resolved?

[2020-05-15 16:04] ismailyenigul commented on #87
Hi @akulkarni
As far as I know  it is not fixed yet.

[2020-05-15 16:08] akulkarni commented on #87
Thanks, taking a look

[2020-05-19 06:52] oliverpjames commented on #56
I would like to push a branch to fix this, and possibly some other bits, but I'm getting

[code]

[2020-05-19 17:15] Atomicbeast101 opened #91 "histogram_quantile() function throws remote_read error"
Prometheus: v2.17.1
Timescale-Prometheus: valpha.2
PostgreSQL: v11

Whenever I use histogram_quantile() function for any metrics, it keeps throwing the following error:
[code]

I am not sure if this is an issue on Prometheus' end or timescale-prometheus' end, but since its mentioning it's related to remote_read, I guess it's timescale-prometheus' end?

[2020-05-19 20:06] Atomicbeast101 opened #92 "Where is prometheus_postgresql_extra extension at?"
I am having a hard time trying to figure out where I can download prometheus_postgresql_extra to add to PostgreSQL as an extension. I am doing this though manual setup (ansible playbook) instead of using Helm.

[2020-05-20 13:01] rosaLux161 opened #93 "Performance issues with a large number of metrics"
We are faced with so many performance problems that after a few minutes the database is so busy that the queue can no longer be processed and the postgres server is no longer accessible.

## Steps to Reproduce

1. Installation of the TimescaleDB
2. Run of Timescale-Tune (Configuration output [postgresql.conf.txt](https://github.com/timescale/timescale-prometheus/files/4656885/postgresql.conf.txt))

[2020-05-20 13:43] cevian commented on #93
Hi @rosaLux161, Yes we are aware of the performance issues. We spent the last week optimizing it and have gotten a few orders-of-magnitude improvements. We should be merging the changes in starting this week and they should be part of the next release. In the meantime `experiment-split-create-metric` branch has our latest optimizations if you want to help us test whether it resolves your issues :)

[2020-05-20 13:46] cevian commented on #92
It's in the `extension` directory of this repo. https://github.com/timescale/timescale-prometheus/tree/master/extension. The installation from source is just `make && make install`. Let us know if you run into any issues

[2020-05-20 14:23] rosaLux161 commented on #93
Thanks for the quick answer, @cevian . Unfortunately we can't get the branch to work. Once Prometheus sends data to the adapter, it crashes:

[code]

[2020-05-20 19:15] cevian commented on #93
ahh, @rosaLux161 you need to drop and recreate the postgres database for the branch to work

[2020-05-21 14:15] blagojts opened #96 "Using the regex label matcher ==~ doesn't check right hand operand when using the extra extension"
When using TimescaleDB with the Timescale-Prometheus Extra extension, if I write a query with a regex label matcher
[code]

It returns all the rows whose label value matches the 'dev'  regex, the right-hand side label-key ('namespace') is ignored

[2020-05-21 18:27] Atomicbeast101 commented on #92
Running `make && make install` returns the following error:
[code]
According to quick google, it seems pathnodes.h is related to postgres. Should I have postgres dependency included?

[2020-05-22 07:31] sbaygithub commented on #93
I've tested this branch also with a similar setup like above and get the following error on startup:
[code]

After further testing I've got then after some time the following error:
[code]

[2020-05-26 20:40] cevian commented on #96
Fixed by #100

[2020-05-26 20:40] #96 closed

[2020-05-27 17:15] Atomicbeast101 commented on #92
Could I get a follow-up on this? I would like to start testing the 0.1.0-alpha.3.1 version soon.

[2020-05-31 13:57] tylerfontaine opened #103 "[Feature Request] Add tablespace configuration options"
https://github.com/timescale/timescale-prometheus/blob/master/docs/sql_api.md offers quite a few configuration options that one normally has for hypertable management, but tablespaces are missing.

Would be great if we could add tablespace configs via this API as well.

[2020-05-31 14:03] cevian opened #104 "make clear that extension/003-enable-pgextwlist.sh is only for testing"
Change the name/location

[2020-05-31 14:09] tylerfontaine opened #105 "drop_chunks API call is namespace conflict with timescaledb drop_chunks procedure"
Consider renaming this function, since vanilla timescaledb already has a drop_chunks(); procedure.

[2020-05-31 14:17] tylerfontaine commented on #92
It requires postgres 12 to build. Usually this error indicates you're trying to build against an older version.

[2020-06-02 18:19] cevian commented on #87
This was fixed in #101

[2020-06-02 18:19] #87 closed

[2020-06-04 14:50] cevian commented on #93
@sbaygithub This is fixed in #110

[2020-06-05 08:23] ismailyenigul commented on #87
I have the same error with     `Image:          timescale/timescale-prometheus:0.1.0-alpha.4.1`

[code]

[2020-06-05 18:36] Atomicbeast101 commented on #92
@tylerfontaine Thank you! Turns out I needed postgresql-12-server-dev package through Debian in order to compile this.

[2020-06-09 12:24] saket9550 opened #114 "Remote read not working as expected"
Hi Team,
I am able to successfully write metrics to connector in the same format as remote write api of prometheus.I can see metrics in timescaledb.
But when I try to read the metrics using PromQL from prometheus dashboard, I don't see custom metrics that I manually wrote.
I can see other metrics in prometheus like node exporter metrics,etc.
Can you please help me resolve this issue?

[2020-06-09 12:45] #92 closed

[2020-06-09 15:44] cevian opened #115 "Create/document a way to use the adapter without permission to create extensions"
Perhaps allow extensions to be created ahead of time or
simply run the extensions in "schema creation mode" with superuser that just sets everything up and quits so that it can be run in a job.

Inspired by "To clarify slightly, I expect we'll always have the timescale extension available, but the adapter may not have superuser. Even in some of the hosted platforms that use an extension instead of

[2020-06-09 18:45] Atomicbeast101 opened #116 "FEATURE REQUEST: Having adapter import data that wasn't imported due to database being down"
I believe having a feature that allows the adapter to temporarily store metric data while it's unable to connect to the database and have it import that data once it reconnects back to the database. This would help for those who needs to perform maintenance to the database (ie upgrading PostgreSQL from v11 to v12 & migrating data to work with v12) without having to worry about losing data during t

[2020-06-10 18:45] cevian opened #118 "Make sure to align de-duplication logic with prometheus."
It seems like prometheus doesn't allow points with same metric/timestamp/series. We should align this as well.

Also avoiding duplicates may be a worthwhile feature in any case.

[2020-06-11 13:21] Atomicbeast101 commented on #116
@cevian Does Prometheus actually call the adapter after DB is back up and running to import the missing data?

[2020-06-15 13:35] antekresic opened #123 "Evaluate compression lib for http responses"
https://github.com/klauspost/compress is a drop in replacement for the Go standard library compression library which is supposed to perform better.

We should try this library and use it if the performance impact is worthwhile.

[2020-06-15 20:19] cevian opened #125 "series endpoint via remote read with no start time causes PG error"
Gets a timezone out of range error

https://timescaledb.slack.com/archives/C011FC0PPC5/p1592251003082800

[2020-06-19 13:46] antekresic opened #128 "Optimize multi-metric queries"
Right now, we send individual queries for each metric that a query requests. We can further optimize that by sending it all into a single batch and parse the results in one go.

https://github.com/timescale/timescale-prometheus/pull/124#issuecomment-646316404

[2020-06-19 22:09] akulkarni commented on #63
We are aiming to add native PromQL support in the next release. Stay tuned!

[2020-06-22 20:46] JLockerman opened #129 "Add the ability to print the connector version"
Add a `--version` flag which prints out which version of the connector is running. This is useful when debugging.

[2020-06-23 05:02] asharabu opened #130 "Unable to find sample-docker-prometheus.yml file in GitHub repository."
Hi,

I tried to deploy timescale-prometheus using the docker-compose file provided in GitHub [repository ](https://github.com/timescale/timescale-prometheus). But I can't see the sample-docker-prometheus.yml file which needed to deploy using docker-compose.yml.

[2020-06-23 06:56] antekresic commented on #130
sample-docker-prometheus.yml is a placeholder path which you should substitute with the real path of your Prometheus configuration file.

Might be worth to update that path to something that indicates its a placeholder more clearly.

[2020-06-23 07:03] ashar-abu commented on #130
Thanks.

[2020-06-23 07:04] asharabu commented on #130
Thanks.

[2020-06-23 07:04] #130 closed

[2020-06-23 08:09] asharabu opened #131 "Steps to set timescaleDB on existing postgresDB"
Hi,

can you please provide the exact steps to setup timescaleDB in the existing Postgres database Docker container?

[2020-06-23 13:35] cevian commented on #116
So prometheus should retry the adapter indefinitely on recoverable errors https://github.com/prometheus/prometheus/blob/master/storage/remote/queue_manager.go#L839

All http 5XX errors are recoverable (https://github.com/prometheus/prometheus/blob/master/storage/remote/client.go#L147) so as long as the connector returns 500s when the DB is down (which it should), prometheus should retry with backo

[2020-06-23 14:20] asharabu opened #132 "Can we use timescale-prometheus connector with existing Postgres database"
Hi,

Can we used timescale-prometheus connector with existing Postgres database instead of timescaleDB?

[2020-06-23 14:35] Atomicbeast101 commented on #116
Is there a recommendation on how to properly tune the remote write for PostgreSQL database? This guide explains the different options for tuning the remote write system, however it mentioned that it should be tuned to work well with specific database sources: https://prometheus.io/docs/practices/remote_write/

[2020-06-23 15:42] asharabu opened #133 "ERROR: could not open extension control file "/usr/share/postgresql/12/extension/timescale_prometheus_extra.control": No such file or directory"
Hi,

I am looking for to use timescale-promethues with my existing postgres container. I have installed timescaleDB on my postgres container using the [link](https://docs.timescale.com/latest/getting-started/installation/debian/installation-apt-debian) and enabled timescaledb extension after that I am getting below error in timescale-prometheus container. Please let me know what I need to do to ac

[2020-06-24 07:25] antekresic commented on #123
Another candidate for JSON handling perfomance improvement:
https://github.com/segmentio/encoding

[2020-06-30 11:13] Anupama-P opened #137 "err starting ingestor"
{"caller":"client.go:81","err starting ingestor":"ERROR: functionality not supported under the current license \"ApacheOnly\", license (SQLSTATE 0A000)","level":"error","ts":"2020-06-30T09:45:10.995Z"}

Connector works good for sometime and after a while connector stops running with the above error.

Also, logged this warning during initial start
{"Got an error finalizing metric: %v":"ERROR: funct

[2020-07-01 13:49] clambin opened #140 "Panics on arm"
Trying to get this to run on a Pi 4 with docker.    I built the docker  image locally and configured it to connect to a (self-built) docker instance of pg_connector, with timescaledb & pg_prometheus extensions loaded & configured in that container (both using master branch).

Configured prometheus to use remote_read/write:
[code]

However, as soon as I bring up prometheus, I get a flood of the fol

[2020-07-06 06:14] antekresic commented on #137
I believe this is happening because the connector is trying to run compression on the data but that feature is only supported for Community license and up. It appears your license is Open Source and it does not support native compression.

You can check out the license feature differences here: https://www.timescale.com/products/features

We need to handle this a bit better and make it clearer wha

[2020-07-06 06:46] antekresic commented on #114
Hey @saket9550 I believe we resolved this issue, it was a problem with Prometheus configuration.

For future reference, in order for Prometheus to read backfilled data from remote read endpoint, you should set:
[code]
Reference: https://prometheus.io/docs/prometheus/latest/configuration/configuration/#remote_read

Can we close this issue?

[2020-07-06 08:24] saket9550 commented on #114
yes Thanks a lot Ante.

[2020-07-06 08:24] #114 closed

[2020-07-07 14:02] #140 closed

[2020-07-08 07:07] antekresic commented on #132
Hi @asharabu,

Unfortunately, the connector does not support running on a Postgres database because it needs time-series specific functionality from TimescaleDB in order to function properly.

[2020-07-08 07:07] #132 closed

[2020-07-08 07:11] antekresic commented on #131
You can try installing it from source, if you want to use an existing Postgres Docker container.

Here is how you can do that: https://docs.timescale.com/latest/getting-started/installation/ubuntu/installation-source

[2020-07-08 17:32] cevian commented on #133
You need to also install the extension here: https://github.com/timescale/timescale-prometheus/tree/master/extension. But this should be optional. The connector should work without the extension as well. This extension just adds some performance improvements

[2020-07-10 06:54] ccakes commented on #137
This wasn't super clear for me either - apparently there's a functionality difference when compiling from the GH repo vs installing the package in the official Postgres repositories.

Installing from package is the solution.

[2020-07-10 13:26] VineethReddy02 commented on #90
CLI seems to be a better approach. In future, if the configuration flags grow. We can add an option to provide a config file. This will help in passing all config using a single file.  (This approach needs a restart of connector for modifying retention period.)

REST API has its downside i.e. we never know what is the retention period if it's set/updated using the REST API.

[2020-07-10 18:11] ksten-ab commented on #90
I agree generally with the CLI approach; in particular it would be nice for it to just be a setting in the Helm Chart that gets read by the Connector and initialized/reset during startup in the same way that migrations currently are run.

[2020-07-10 18:48] VineethReddy02 commented on #129
Will a cmd like version work? i.e
[code]

A simple way of achieving this would be to add a block like this in main.go

[code]

OR

we can use https://github.com/spf13/cobra (CLI library) for adding more cmds in timescale-prometheus like run, version, etc...

I'm open to suggestions & thoughts.

[2020-07-13 19:42] cevian commented on #118
The relevant prom code is in prom head.go and `func (s *memSeries) appendable(t int64, v float64) error {` which throws `storage.ErrDuplicateSampleForTimestamp` and gets converted to a warning `Error on ingesting samples with different value but same timestamp` in scrape.go. This means only the first value is recorded and the others ignored. This was the behavior reported in https://timescaledb.sl

[2020-07-17 01:39] prime-minister-of-fun opened #150 "Do not enable compression in connector (make ApacheOnly compatible)"
Hi,

I am experiencing the "err starting ingestor" bug/feature and it's not clear to me how to disable compression.

Downloading the pre-built timescale-prometheus shows no options to disable compression on runtime.  Reading your very thorough documentation on compression, it seems like:

ALTER TABLE <table_name> SET (timescaledb.compress = false);

Should work..  Is this correct?

[2020-07-17 16:19] cevian commented on #150
yes, that's the way to disable compression but can you provide more info about the error you are getting and the version of the connector you are using?

[2020-07-17 16:30] prime-minister-of-fun commented on #150
I downloaded the pre-built  timescale-prometheus_0.1.0-alpha.4.1_Linux_x86_64.tar.gz.

The first time I run the binary with database login options it works as expected.  Restart the app and I get the following:
using patched pgconn
{"caller":"main.go:151","level":"info","msg":"Version:0.1.0-alpha.4.1; Commit Hash: ","ts":"2020-07-17T16:25:22.028Z"}
{"caller":"main.go:152","config":"&{listenAddr::9

[2020-07-17 16:35] cevian commented on #150
ahh this is the error ```ERROR: functionality not supported under the current license "ApacheOnly", license ```.  So that's the reason to turn off compression

[2020-07-17 16:37] cevian commented on #150
Currently there is no way for the connector not to enable compression. But I will convert this to a feature request not to enable compression in the connector.

[2020-07-17 16:39] cevian commented on #150
There is a "workaround" of using the TSL (full) version of timescaleDB. Leaving this up for people that may. encounter this issue.

[2020-07-17 17:19] cevian opened #151 "Implement delete_series API endpoint"
Implement https://prometheus.io/docs/prometheus/latest/querying/api/#delete-series

[2020-07-17 17:20] cevian commented on #151
mentioned in https://github.com/timescale/timescale-prometheus/issues/86

[2020-07-17 17:23] cevian commented on #86
Split off the API endpoint request separate.

This issue will remain for documentation. We should document:
- how to delete a metric
- how to delete a metric by time (drop_chunks)
- how to schedule data retention
- how to delete a series (one and multiple)

[2020-07-17 17:25] cevian commented on #63
This has been merged and will be out in the next release.

[2020-07-17 17:25] #63 closed

[2020-07-18 18:55] cevian opened #152 "Support continuous aggregates via PromQL"
Two things to research:
1) How do we expose the results of a continuous agg to the adapter for queries via PromQL
2) What kind of aggregates do we want to support in continuous aggs. Specifically, do we need to support any of the prom aggregates? e.g. rate, increase, etc

[2020-07-18 19:14] cevian opened #153 "Product Feedback Wanted: Support for multi-tenant queries"
Today you can already write data from multiple tenants to timescale-prometheus. You'd just have to set up relabel configs https://prometheus.io/docs/prometheus/latest/configuration/configuration/#relabel_config on the prometheus server to add labels indicating the tenant.

However it is not clear how to give single-tenant access to only their own metrics right now. We need more feedback from the c

[2020-07-18 19:34] cevian commented on #118
The changes need are to use UNIQUE series_id, time index and implement ON CONFLICT DO NOTHING in some way

[2020-07-20 13:11] samsk commented on #63
Thank you ;-)

[2020-07-20 20:35] cevian opened #154 "Fix drop_chunks procedure work when there are continuous aggs attached"
currently get "cascade_to_materializations options must be set explicitly" error. cascade_to_materializations should probably be false? Although that requires the ignore_invalidation_after to be set correctly on the continuous agg.

[2020-07-23 16:57] ksten-ab commented on #153
I've set up `Remote Write > Write Relabel configs` in my multi-tenant setup (where each tenant is a "uniquely named" k8s cluster).

WRT. PromQL my intention is 100% to perform "cross-tenant" queries from a Graphana instance, as I use TimescaleDB to aggregate from multiple clouds (e.g. AWS + Azure tenants).  That said, I'd be ok with having "cross-tenant PromQL reading" be a configuration property

[2020-07-23 17:31] ksten-ab commented on #152
From my experience developing solutions based off of master, here are my thoughts:

1. Does it make sense for the connector to keep track of PromQL query statistics and automatically make some aggregates (e.g. for something like `increase[5m]`?  These could be saved/loaded from some `_prom_catalog.promql_aggregates` table that the connector can interrogate to know when it can use them.

2. Support

[2020-07-23 20:06] #118 closed

[2020-07-31 14:36] cevian opened #170 "Add metric with Capital letters to our test"
Most tests should use metrics with capital letters. This sometimes causes problems in Postgres if we don't sanitize correctly.

[2020-07-31 15:44] davidkohn88 opened #171 "Add count of duplicates to logging"
When inserting on conflict do nothing, get back actual number of rows inserted and subtract from total number of rows you tried to insert. This should give you the dupes.

[2020-08-03 11:26] antekresic commented on #91
I've been trying to reproduce this issue using the exact versions specified here but with no luck.

Any chance you can provide more info on how exactly you trigger this issue, @Atomicbeast101 ?

For reference, I tried something in line with:
`histogram_quantile(0.9, rate(prometheus_http_request_duration_seconds_bucket[10m]))`
but didn't get any issues.

[2020-08-03 11:51] Atomicbeast101 commented on #91
Running the same query above seems to work fine. Perhaps it's a mistake I made on my end somehow...

[2020-08-03 15:09] davidkohn88 opened #178 "Fix Series ID bigint/int conflict"
Series ids are bigints in the series table, but ints in the prom_data tables, I think we wanted it to be bigints in both places?

[2020-08-03 15:58] #178 closed

[2020-08-03 20:03] #171 closed

[2020-08-04 00:03] cevian opened #183 "ExtensionIsInstalled is not set correctly on restart"
ExtensionIsInstalled is not set when restarting because `dbVersion.Compare(appVersion) == 0 `

[2020-08-04 14:47] #125 closed

[2020-08-06 08:49] wenerme opened #187 "Use too much connections"
* timescaledb
  * docker install - latest
  * 16G max-connection 500
* tow timescale/timescale-prometheus - docker installed latest
  * used all connections, still reporting `FATAL: sorry, too many clients already (SQLSTATE 53300)`
* promethes - 10 node-exporter

timescale-prometheus use prepared statement, so can not use transaction polling to reduce the connections.

[2020-08-07 10:24] #183 closed

[2020-08-08 10:13] wenerme opened #189 "query returned wrong number of labels: 1, 0"
* exporter
  * https://github.com/wrouesnel/postgres_exporter
  * node_exporter
*  one timescale-prometheus - docker installed - latest
* tow prometheus
  * `prom-a` one for collect
  * `prom-b` one for read by grafana

but query `process_start_time_seconds` will failed on `prom-b`, `prom-a` can execute correctly

[code]

https://github.com/timescale/timescale-prometheus/blob/6693256251629559a609f

[2020-08-13 19:52] dtoddonx opened #192 "runtime error: invalid memory address or nil pointer dereference PromQL API"
When using the adapter directly in Grafana and doing a PromQL query such as:

`sum (container_memory_working_set_bytes{project="production",region="us-central1",kubernetes_io_hostname=~"(.+)-np1-(.+)"}) / sum (machine_memory_bytes{project="production",region="us-central1",kubernetes_io_hostname=~"(.+)-np1-(.+)"}) * 100`

The following error is generated in the adapter:

`{"caller":"series_set.go:8

[2020-08-14 06:36] wenerme opened #193 "Long running unstable"
Love timescale-prometheus, hope it better.

## use too much disk space

* After running 10 days, use 20G+ disk
  * docker installed
  * 6 node_exporter

I don't expected timescale-prometheus use too much disk storage, so I don't mount the data do data disk, this cause the rootfs out of space, delete the docker restored the space.

![image](https://user-images.githubusercontent.com/1777211/90220496

[2020-08-16 21:11] mrMoe opened #194 "Can not start timescale-prometheus a second time"
Hi there,

I am new to timescale db and I am trying to use it as a prometheus long term storage.
So far the db itself is starting fine with docker but the timescale-prometheus bridge/adapter can only be startet successfully once.
All subsequent executions of the bridge fail with

[code]

full log

[code]

[2020-08-17 13:34] cevian commented on #91
Could not reproduce

[2020-08-17 13:34] #91 closed

[2020-08-17 16:01] JLockerman commented on #189
This should be fixed by PR #184

[2020-08-17 16:09] JLockerman commented on #193
That's odd, I wouldn't expect it use much disk, unless the logs were very frequent.
@wenerme can you share what workload was the connector running, and possibly a sample of the logs?

[2020-08-17 16:11] JLockerman commented on #192
likely fixed by PR #184

[2020-08-17 16:20] JLockerman commented on #194
should be fixed by PR #197

[2020-08-17 19:13] #194 closed

[2020-08-17 21:41] mrMoe commented on #194
confirm fix.
Thanks for the speedy help!

[2020-08-18 07:43] wenerme commented on #187
latest docker image not updated yet, current latest use about 100 connection per instance

[2020-08-18 07:45] wenerme commented on #193
only observed once of the disk case, I will record the log when I got this again.

but got several cpu case.

[2020-08-18 16:42] #187 closed

[2020-08-19 14:36] cevian commented on #187
@wenerme The docker image for beta.2 released today should contain a fix for this. Can you please verify?

[2020-08-19 15:23] cevian commented on #192
@dtoddonx This should be resolved in our new release 0.1.0-beta.2. Can you please try it and let us know if this solves the problem?

[2020-08-19 15:26] cevian commented on #189
@wenerme This should be fixed in release 0.1.0-beta.2. Can you please confirm?

[2020-08-19 15:29] #133 closed

[2020-08-19 15:43] JLockerman commented on #128
fixed by PR #190

[2020-08-19 15:43] #128 closed

[2020-08-20 08:24] wenerme opened #202 "[beta.2] use more connection and more cpu"
[code]

| datname | count |
| :--- | :--- |
| instanceA | 200 |
| timescale | 2 |
| instanceB | 801 |
| postgres | 1 |
| NULL | 6 |

instanceB's cpu is normal

instanceA's cpu is very high, and report logs

[code]

and a lot duplicate log

[code]

[2020-08-20 08:44] wenerme commented on #202
after increase db connections, db restarted, the error still exists,  timescale-prometheus can not recover from the error

still reporting `server error (FATAL: sorry, too many clients already (SQLSTATE 53300))`

when

| datname | count |
| :--- | :--- |
| instanceA | 167 |
| timescale | 2 |
| instanceB | 196 |
| postgres | 1 |
| NULL | 6 |

[code]

have to restart the instance, then everything go

[2020-08-20 08:54] wenerme commented on #189
Works now.

[2020-08-20 08:54] #189 closed

[2020-08-20 09:01] wenerme commented on #153
Maybe let timescale-prometheus support multi db first ? We setup tenant by different db, have to run multi instance, if timescale-prometheus support multi db, for multi tenant, I think timescale-prometheus can expose different like

[2020-08-20 09:08] wenerme commented on #202
Dose timescale-prometheus still use prepare statement ? I don't find any code related to prepare, if timescale-prometheus do not use prepare, so I can setup a pool for tsdb.

timescale-prometheus use a lot connections, and this is risky, not scaleable, increase the max_connection is a temporary fix, when add more tenant/instance,  about 500 connection per tenant is unacceptable.

[2020-08-20 09:35] wenerme opened #203 "Grafana can not use ts-prom to match labels"
API request like this return 404, prometheus can return success

[code]

[2020-08-20 14:01] wenerme commented on #202
after long running ,connection reduced to about 100,

| datname | count |
| :--- | :--- |
| instanceA | 101 |
| instanceB | 161 |

instanceA samples about 1200/s
instanceB samples about 900/s

![image](https://user-images.githubusercontent.com/1777211/90779604-9969bb00-e330-11ea-8ed9-1385f76d004c.png)

[2020-08-20 16:43] cevian commented on #202
Hmm. Part of this should be improved by https://github.com/timescale/timescale-prometheus/pull/204. But there is still some a bit of weirdness here with the number of connections. What did you mean by `have to restart the instance, then everything goes normal, but the connection still high` which instance did you restart db, connector, something else?

[2020-08-20 16:44] cevian commented on #202
@JLockerman one thing here is that out automatic figure-out max_connections logic does not take into account how many connections are already used. That's one issue.

[2020-08-20 18:51] cevian opened #206 "Make end-to-end test use router"
Move router into pkg/api from main. Makes sure our router is set up correctly.

[2020-08-21 06:04] wenerme commented on #202
After increase the max connections to 1800, then restart the db, instanceA timescale-prometheus still reporting `too many clients already`, seems the connection is not reconnect.

Then I restart the instance, the error is gone.

---

Upgrade timescale-prometheus makes the prometheus accumulate a lot metrics, maybe that's why after upgrade, the connection goes very high.

[2020-08-21 16:46] wenerme opened #208 "read use a lot more memory"
![image](https://user-images.githubusercontent.com/1777211/90914435-7d3d4b00-e410-11ea-9c36-0bfe0cd63dd7.png)

row 2 is instanceB in this issues https://github.com/timescale/timescale-prometheus/issues/202
row 3 is instanceA, about samples 1.2k/s, log is normal.

both instance use same connections, 161

---

any recommended memory for timescale-prometheus, I don't expected  timescale-prometheus us

[2020-08-24 14:40] cevian commented on #202
@wenerme we addressed the number of connections used by default in issue in #209. You can also control the max number of connections explicitly used using the cli flag `db-connections-max` a value of 50 is recommended for your case. #209 will be in our next release.

[2020-08-24 17:18] JLockerman commented on #208
Could you send us the heap allocation info for this instance? You can get it by running
[code]
and either sending it to us, or running `go tool pprof` on it

[2020-08-24 18:22] cevian commented on #193
Note: #204 may fix this.

[2020-08-25 13:53] #154 closed

[2020-08-26 13:15] davidkohn88 opened #211 "Set application_name in DB connection string"
It's good practice to do this and helps when debugging while looking at pg_stat_activity, we might even want to distinguish between readers and writers.

[2020-08-27 14:10] win32nipuh opened #216 "Errors during the Docker build"
I run docker-compose, it start to build the Docker and the result

PS D:\_Docker\TSPR\timescale-prometheus-master> docker-compose up
Creating network "timescale-prometheus-master_default" with the default driver
Building timescale-prometheus-connector
Step 1/11 : FROM golang:1.14.1-alpine AS builder
1.14.1-alpine: Pulling from library/golang
aad63a933944: Pull complete
c732a2540651: Pull complete

[2020-08-27 14:20] win32nipuh opened #217 "dial tcp: lookup prometheus_postgresql_adapter: No such host"
I run the docker-compose and receive:

timescale-prometheus-connector_1  | {"addr":":9201","caller":"main.go:280","level":"info","msg":"Listening","ts":"2020-08-27T14:15:17.645Z"}
prometheus_1                      | ts=2020-08-27T14:17:38.800Z caller=dedupe.go:112 component=remote level=warn remote_name=686501 url=http://prometheus_postgresql_adapter:9201/write msg="Failed to send batch, retrying"

[2020-08-28 12:21] clementDele opened #224 "Server refused TLS connection"
Hello,

I'm having trouble to get timescale-prometheus running on my Debian. I'm using the `docker-compose.yml` located at the root of this project. I changed absolutely nothing but `timescale-prometheus-connector` won't work: it tells me that there is a TLS error :

[code]

**Then** I tried to change the database image from `timescale/timescaledb:latest-pg12` to `timescaledev/timescale_prometheus

[2020-08-28 12:49] antekresic commented on #224
Hey there!

Did you try the `db-ssl-mode` flag? It should be configurable:

https://github.com/timescale/timescale-prometheus/blob/e62d9f1432812397522e8588ea2e56a2edc59f85/pkg/pgclient/client.go#L49

Also, we just pushed the latest beta.3 version which should require SSL connection with the database as default. Can you try updating the version?

Thanks.

[2020-08-28 12:52] antekresic commented on #217
Looks like you are using the wrong remote read and write URLs.

Can you try changing it to `http://timescale-prometheus-connector:9201`?

[2020-08-28 12:54] antekresic commented on #216
Looks like its missing the `.git` folder. Did you use `git checkout` to fetch the code?

[2020-08-28 13:08] clementDele commented on #224
Okay it doest work with `db-ssl-mode` to `disable` ! I put aside security for the moment as it is my first tries with `timescale-prometheus` ;)

I use the `0.1.0-beta.3` since the beginning as you can see on the first line of the logs i sent and i can confirm that it requires SSL connection with the database by default, hence my problem haha.

You should make a note about this SSL connection enabl

[2020-08-28 14:03] win32nipuh commented on #216
No, I run docker-compose only, it uses docker-compose.yml file etc. I did add nothing.
What I need to do to run it correctly?

[2020-08-28 14:13] win32nipuh commented on #217
I have modified the prometheus.yml file

run and receive
...
prometheus_1                      | ts=2020-08-28T14:07:33.809Z caller=dedupe.go:112 component=remote level=warn remote_name=380fe3 url=http://timescale-prometheus-connector:9201/write msg="Failed to send batch, retrying" err="Post \"http://timescale-prometheus-connector:9201/write\": dial tcp: lookup timescale-prometheus-connector on 12

[2020-08-28 17:14] cevian commented on #105
Fixed in #220

[2020-08-28 17:14] #105 closed

[2020-08-28 17:29] cevian opened #225 "Make sure docker-compose works with SSL require"
This is a followup to #224 originally reported by @clementDele  We need to make sure our docker compose works with the SSL require change.

[2020-08-28 17:30] cevian commented on #224
Thanks @clementDele for reporting this. We filed and issue #225 to follow up on docker-compose.

[2020-08-28 17:30] #224 closed

[2020-08-29 15:07] cevian commented on #208
@wenerme would it be possible to test this on beta.3 and see if this problem persists?

[2020-08-29 15:30] wenerme commented on #208
@cevian I'll upgrade to beta.3 tomorrow.

This is current memory usage, setup a cron to restart tsdb-prom daily, because the cpu problem, maybe some problem will not appear.

![image](https://user-images.githubusercontent.com/1777211/91640303-227aa380-ea4f-11ea-8dc9-61c2dc71acee.png)

current load

![image](https://user-images.githubusercontent.com/1777211/91640360-9ae16480-ea4f-11ea-8233-1d7c30e9

[2020-08-30 05:56] wenerme commented on #208
Even enabled daily restart, this still happen.

![image](https://user-images.githubusercontent.com/1777211/91652294-74abdb00-eac8-11ea-99b3-5fb8e75215ca.png)
![image](https://user-images.githubusercontent.com/1777211/91652301-8d1bf580-eac8-11ea-8756-9f09425918b7.png)

upgrade now.

[2020-08-30 06:09] wenerme commented on #202
upgrade to beta.3, set the db-connections-max to 50.close this issues now.

[2020-08-30 06:09] #202 closed

[2020-08-31 13:35] cevian commented on #208
@wenerme sorry I am not sure is the above on beta.3 or beta.2?

[2020-08-31 17:35] JLockerman commented on #225
Looks like the issue isn't the SSL mode; it fails with the mode set to `prefer` as well. I suspect the issue is the race condition between connector start and database start: if the database isn't ready yet when the connector tries to connect, the connection will fail.

[2020-09-01 06:05] wenerme commented on #208
running beta.3 for two days. with daily restart, set max connection to 50

![image](https://user-images.githubusercontent.com/1777211/91800656-f718d400-ec5b-11ea-8ce4-155d70f6ac70.png)
![image](https://user-images.githubusercontent.com/1777211/91800697-0b5cd100-ec5c-11ea-924a-146c33a7f142.png)

beta.3 use less memory.
should I close this now ?

[2020-09-01 06:05] #208 closed

[2020-09-01 06:06] wenerme commented on #193
upgrade to beta.3, if there any problem related to beta.3 will open another issues, this is outdated.

[2020-09-01 06:06] #193 closed

[2020-09-01 19:34] JDTX commented on #225
@JLockerman It's a combination of both. I had to revert the commit that set `sslMode` to `require` ([here](https://github.com/timescale/timescale-prometheus/commit/e62d9f1432812397522e8588ea2e56a2edc59f85#diff-21adc0276abcfb544d5cf5dc2dbe5da3)) but that alone wasn't enough.

After reverting that, it still failed to start. I had to manually start up the timescale-prometheus-db, wait about 10 second

[2020-09-02 16:33] timflannagan1 opened #231 "Broken link in docker release documentation"
Following the [docker installation instructions](https://github.com/timescale/timescale-prometheus#-docker) and clicking on the released docker images results in a 404: https://github.com/timescale/timescale-prometheus/blob/master/releases

[2020-09-02 19:26] dtoddonx commented on #192
Sorry for the slow turnaround on this, yes I no longer receive the crash when doing the above query. Thanks!

[2020-09-02 20:43] Harkishen-Singh commented on #192
That sounds like a perfect fix. Closing this issue in that case. Feel free to open if it occurs anytime in future.

[2020-09-02 20:43] #192 closed

[2020-09-03 08:56] tr2vil opened #233 "Can not start timescale-prometheus with error"
Hi there,

I am new to timescale db and I am trying to use it as a prometheus long term storage.
At first, My OS is  Centos 7.
I downloaded timescale-prometheus binary, after then execute binary like this.

$ wget https://github.com/timescale/timescale-prometheus/releases/download/0.1.0-beta.3/timescale-prometheus_0.1.0-beta.3_Linux_x86_64
$ chmod 700 timescale-prometheus_0.1.0-beta.3_Linux_x86_64

[2020-09-03 09:26] Harkishen-Singh commented on #233
Thank you for reporting this. The logs seem to speak errors related to running migrations with the DB. I am not sure if this is just in the releases or if it was fixed in some PR after the release. Anyways, we will get back to this soon. Thank you.

[2020-09-03 13:31] Harkishen-Singh commented on #233
@tr2vil can you mention the version of your timescale-db?

[2020-09-03 13:39] Harkishen-Singh opened #235 "Verify timescaledb version at start and warn on any inconsistency"
We aim to connect and carry out operations on timescaledb only when the version is above `1.7.3`. Otherwise, this could end up as connection/compatibility issues.

[2020-09-03 16:01] davidkohn88 commented on #211
We should also include teh application version in the application name string.

[2020-09-04 00:05] tr2vil commented on #233
How can I check timescale-db's version ?

[2020-09-04 05:31] tr2vil commented on #233
In additional, I want to build timescale-prometheus from source.
According to the post, (https://github.com/timescale/timescale-prometheus/blob/master/docs/binary.md#-building-from-source) ,
I type this but not working.

# Fetch the source code of Timescale-Prometheus in any directory
$ git clone git@github.com:timescale/timescale-prometheus.git
Cloning into 'timescale-prometheus'...
Permission de

[2020-09-04 07:31] Harkishen-Singh commented on #233
[code]

Seems like your db version is correct.

Maybe, your ssh keys are not working. Anyways, try the HTTP way.

`git clone https://github.com/timescale/timescale-prometheus.git`

[2020-09-04 09:03] tr2vil commented on #233
@Harkishen-Singh

timescale db version is described below.

tutorial=# SELECT default_version, installed_version FROM pg_available_extensions ORDER BY installed_version DESC LIMIT 1;
 default_version | installed_version
-----------------+-------------------
 2.0.0-dev       | 2.0.0-dev

[2020-09-04 09:07] Harkishen-Singh commented on #233
Could you try that command again? I just updated it. I had copied from my system as it was specific to me.
@tr2vil

[2020-09-04 09:16] tr2vil commented on #233
@Harkishen-Singh
I use timescale-prometheus for store prometheus exporter's metric into postgresql.
anyway, you talked to me
"Could you try that command again"
which command do you mean?

I compilied timescale-prometheus binary. and then try like this

# ls -al
total 23440
drwxr-xr-x 2 root root     4096 Sep  4 18:10 .
drwxr-xr-x 3 root root     4096 Sep  4 18:05 ..
-rw-r--r-- 1 root root    16270

[2020-09-04 09:22] Harkishen-Singh commented on #233
`SELECT * FROM pg_available_extensions;`

The main aim behind this is to know the default and intalled version of Timescaledb and the extension. This should give the necessary output.

[2020-09-04 09:24] tr2vil commented on #233
@Harkishen-Singh

$ psql -U postgres -h localhost -d timescale
psql (12.4)
Type "help" for help.

timescale=# SELECT * FROM pg_available_extensions;
    name     | default_version | installed_version |                              comment
-------------+-----------------+-------------------+-------------------------------------------------------------------
 plpgsql     | 1.0             | 1.0

[2020-09-04 09:29] tr2vil commented on #233
@Harkishen-Singh
In the timescale-prometheus doc, ( https://github.com/timescale/timescale-prometheus/blob/master/docs/binary.md#building-from-source) ,

It is said, prometheus remote write/read configuration is necessary to store prometheus metric
--
remote_write:
  - url: "http://<connector-address>:9201/write"
remote_read:
  - url: "http://<connector-address>:9201/read"

Is the 9201 port run by

[2020-09-04 10:55] Harkishen-Singh commented on #233
Yes, promethues should have that config and assuming that you are running locally, the connector address will be `localhost`.

Yes, 9201 is the port for timescale-prometheus. Prometheus will run and send live samples to port 9201 (on which connector is running).

[2020-09-04 16:12] cevian commented on #104
This was removed in #229

[2020-09-04 16:12] #104 closed

[2020-09-05 00:18] akulkarni opened #243 "POLL: Help us choose a new name for this project"
Now that this project is getting a lot of usage, we are considering giving it a new name (partly to give it its own identity, partly because we're tired of typing "timescale-prometheus" all the time 😁).

Here is the vision for this project:

- Serves as the analytics database for Prometheus metrics

- Supports full PromQL and SQL natively, so compatible with all SQL-based tools (including ML libra

[2020-09-05 00:19] akulkarni commented on #243
Prombase

[2020-09-05 00:19] akulkarni commented on #243
Promscale

[2020-09-05 00:19] akulkarni commented on #243
Hestia

[2020-09-05 00:19] akulkarni commented on #243
Lantern

[2020-09-05 00:19] akulkarni commented on #243
FireTiger

[2020-09-05 01:51] Harkishen-Singh commented on #243
To be very frank, I was about to say this in all hands yesterday. Happy to see the option. 😊.

Another one I thought was, Timetheus. But, I guess promscale is better than this, may be. 🤔

[2020-09-05 18:30] Harkishen-Singh commented on #233
@tr2vil could you confirm if everything is working for you after switching to `1.7.3` version for Timescaledb?

[2020-09-07 00:25] tr2vil commented on #233
@Harkishen-Singh
Yes, I'll remind to you after reinstall timescale-prometheus version 1.7.3.

[2020-09-07 01:29] tr2vil commented on #233
@Harkishen-Singh @JLockerman ,
I had reinstalled timescale version 1.7.3.
After then, I re-execute success like this. I'll do more test. Thank you for your helping~!

'''
$ ./timescale-prometheus -db-ssl-mode=disable -log-level=debug
{"caller":"main.go:181","level":"info","msg":"Version:0.1.0-beta.3.dev.0; Commit Hash: ","ts":"2020-09-07T01:26:27.472Z"}
{"caller":"main.go:182","config":"&{listenAd

[2020-09-07 06:52] #233 closed

[2020-09-08 02:49] tr2vil opened #245 "scrape diffrence between prometheus and postgresql using timescale-prometheus"
Hi there~
In the lab, I scrape one target-host using prometheus node_exporter. and  I store metric into postgresql using timescale-prometheus.

In prometheus, I can see the metric, but in postgresql there are not exist.
Doesn't timescale-prometheus save everything? Some metric tables store work well. but some are not.

Look like this.
[Prometheus]
![image](https://user-images.githubusercontent.com

[2020-09-08 13:54] jostmart commented on #231
Same problem for binary installations

[2020-09-09 06:53] emanzx opened #247 "Lack of documentation about Rust for compiling the extension"
As freeBSD does not support any docker system apart from setting up VM and installing linux and installing docker in the linux I was compiling timescale-prometheus manually my last version is the 0.1.0-alpha.4 and the timescale_prometheus_extra was successfully compiled using gmake, today I update the version to 0.1.0-beta.4 and successfully compiled the timescale-prometheus but when I try to comp

[2020-09-09 16:05] cevian commented on #245
Your data is there it's just that the query is querying the table node_memory_memtotal_bytes not node_memory_MemTotal_bytes (note difference in capitalization). This is a sql oddness: when specifying a view or table with capital letters you need to quote the table name. Eg. your query should be `select * from "node_memory_MemTotal_bytes"` (note the double quotes)

[2020-09-09 16:09] cevian commented on #247
Yes, this is a Rust thing. You need to install Rust to compile the extension. We need to update the documentation.

https://www.rust-lang.org/tools/install

[2020-09-09 16:10] cevian commented on #247
@JLockerman please add documentation for installing Rust

[2020-09-10 01:48] tr2vil commented on #245
@cevian
Thanks you. It works to me. ^^

[2020-09-10 01:48] #245 closed

[2020-09-10 16:04] cevian opened #250 "Need to add randomness to chunk interval upon creation"
Randomness prevents compression jobs from getting synchronized. `_prom_catalog.set_chunk_interval_on_metric_table` already adds randomness but for new hypertables randomness is not correctly added when they are first created.

[2020-09-11 15:03] akulkarni commented on #243
Thanks everyone for the votes so far! Question: Which one is your favorite, and why?

[2020-09-11 15:12] Harkishen-Singh commented on #243
I believe Promscale is the perfect name since Timescale-Prometheus enables Prometheus to run without any worries (from the database layer side, making it more of a stateless kind of service (excluding WAL since 2 hours of data in WAL is less to be considered when you have years of metrics data)). This allows Prometheus to scale to new heights where sky is the limit.

[2020-09-11 16:53] cevian commented on #243
I like *FireTiger* because of the bold visual it evokes

[2020-09-11 18:35] niquola commented on #243
https://en.m.wikipedia.org/wiki/Aion_(deity)

[2020-09-11 19:48] JLockerman commented on #243
@cevian the thing about _FireTiger_ is that the name gives no indication of what the project does. The others at least sound like proper nouns, and Promscale is _kinda_ explanatory, if you already know what Prometheus and Timescale are.

[2020-09-11 19:54] JLockerman commented on #243
Some pros`+`/cons`-` for the current suggestions:

- **Prombase**
  - `+` sounds prometheus related
  - `-` kinda sounds like the backend for prometheus
- **Promscale**
  - `+` If you've heard of Prometheus and Timescale, you can probably figure out what it is
  - `+` sounds like what it does
- **Hestia**
  - `+` obviously a proper noun
- **Lantern**
  - pretty neutral, something like "Timescale L

[2020-09-11 19:58] recollir commented on #243
Portunus - the Roman god that originally protected warehouses. It also starts with a “P”.

[2020-09-12 13:49] SuperQ commented on #243
I like the "Timescale Lantern", the url being `github.com/timescale/lantern` seems nice.

[2020-09-13 18:33] bwplotka commented on #243
`Timeus` ! (:

While `Promscale` sounds cool, I am not sure how Timescale actually scales Prometheus - while it claimed to be "scalable" looks like the selling point is that it offers unique usability features with SQL queries + analytics. But it's only my humble opinion.

`PromSQL` sounds cool also :wink:

[2020-09-14 14:26] redhatromero opened #253 "Prometheus + TimescaleDB"
so i have a working prometheus setup, but I am trying to use timescale for storage.
at my postgres vm, i have run the timescaledb-tune and preloaded the timescaledb extension.
all that is fine afaik:
`[root@timescale-01 ~]# psql -U postgres -h localhost
psql (12.4)
Type "help" for help.

[main]
postgres=# CREATE EXTENSION IF NOT EXISTS timescaledb CASCADE;
WARNING:
WELCOME TO
 _____ _

[2020-09-14 15:00] Harkishen-Singh commented on #253
You will have to run Timescale-prometheus either at container or locally. This will be responsible to receive the samples that Prometheus will send on `:9201`. Timescale-prometheus will insert these into its own schema in Timescaledb.

[2020-09-14 16:59] redhatromero commented on #253
I failed to run the actual build - that might help :)

[2020-09-14 16:59] #253 closed

[2020-09-15 02:50] Harkishen-Singh opened #254 "Consider making TopNode as part of SeriesSet"
With the recent updates from prom upstream, the querier.Select has gone modification and now returns only SeriesSet than the earlier SeriesSet, warnings, errors. This makes things obvious since parser.Inspect does not handle errors, so there wasn't a point to return errors at that place.

To make these suited to us, we should move TopNode to `pgmodel` which will also help keep in line with the ups

[2020-09-15 03:03] Harkishen-Singh opened #255 "Support for custom configuring default step intervals for subquery"
PromQL subquery uses step to evaluate subqueries. When the step is not given, a default step interval is considered which is taken from CLI ([related code](https://github.com/prometheus/prometheus/blob/7de6046d1eb8200fb1b11bd01fc7142bfd3b9a6d/cmd/prometheus/main.go#L340)). This is not the same for our case, which opens up a though for configuring this(as currently we are not using after the merge

[2020-09-16 14:08] #235 closed

[2020-09-16 18:00] #250 closed

[2020-09-16 18:02] JLockerman opened #261 "Clean Log Formatting"
Prometheus defaults to outputting logs in logfmt, with an option to switch it to JSON. Since the only reason we're using JSON output is to match Prometheus, we should switch our defaults to match. We also need to decide what we do about our error message [for when log initialization fails](https://github.com/timescale/timescale-prometheus/blob/4adc895803edad460619572a5b78f70fa45b7419/cmd/timescale

[2020-09-17 13:01] #247 closed

[2020-09-22 15:18] timflannagan1 opened #265 "The series containment operator query example is invalid"
I was poking around the [series containment operator documentation](https://github.com/timescale/timescale-prometheus/blob/master/docs/sql_schema.md#containment) and noticed that the following query would produce a syntax error:

[code]

If you update that query example to use `... "node": "pinky"}'` that syntax error would be resolved.

[2020-09-23 14:30] nvtkaszpir commented on #243
Chonker.

Sorry I just couldn't resist:
- Timescale already has a cat in the logo (tiger)
- timescaledb it supports big amount of data, that is usually sliced in chonks, erm chunks
- everyone loves cats
- this is a type of the cat you just let it rest in cozy place and keep feeding it with what it likes

;D

[2020-09-25 11:59] cevian commented on #243
Thanks for the votes everyone. We decided to go with Promscale as seen in issue #267

[2020-09-25 12:09] #243 closed

[2020-09-25 13:58] #261 closed

[2020-09-25 22:28] Paul-Sorensen-Checkfront opened #270 "Broken links to a 'master' directory that no longer exists"
Various markdown files in this repo point to files/folders that no longer exist.

[2020-09-27 16:45] gandalfmagic opened #272 "Panic: runtime error if enable-health-check-nodeport is set to false with kube-proxy-replacement set to probe or partial"
Hello, I got this error with Cilium v 1.8.3 on Kubernetes v1.18.9

[code]

My config:

[code]

[2020-09-27 16:56] #272 closed

[2020-09-27 16:57] gandalfmagic commented on #272
Sorry, wrong project :)

[2020-09-28 10:37] Harkishen-Singh commented on #265
Thanks for pointing it out. Do you want to submit a PR for this? Should be straight forward.

[2020-10-01 14:26] #265 closed

[2020-10-02 07:42] franck102 commented on #152
Some feedback:

Pro

1. PromQL query stats would be completely irrelevant for us, we are using promscale to replace PromQL queries and their limitations (unwanted extrapolation of rate/increase over time ranges, no way to pre-compute rollups...)

2. Pre-defining aggregates would require knowing at least the type of the metric? Increase on a Gauge is meaningless, same for Average on a counter...

3

[2020-10-02 14:14] franck102 opened #281 "Customize generated prom_data tables"
To try and account for Prometheus counter resets I would like to add a column to each metric table created by promscale.Trying to do so after the hypertable has been created fails because of compression:

[code]

Is there any workaround that you can suggest? A feature allowing us to specify extra columns to create would be great!

[2020-10-02 14:16] Harkishen-Singh commented on #281
AFAIK, you cannot update the schema that is created/managed by promscale.

[2020-10-02 14:20] franck102 commented on #281
Makes sense; can this be recorded as a feature request? I can imagine quite a few use cases where have calculated columns stored alongside the rest of the data in the original hypertable would be really useful.

Thanks!

[2020-10-02 14:24] Harkishen-Singh commented on #281
That will be useful. I will let you know by commenting here after discussing with the team.

[2020-10-02 14:38] cevian commented on #281
@franck102 can you give more details here? How do you plan to update the column (since the adapter will not automatically write to this column)?

[2020-10-02 15:08] franck102 commented on #281
I plan to use a before insert trigger, roughly something like this (pseudo sql code):

lastVal := select last(value,time) from TG_TABLE_NAME where series_id=NEW.series_id;
NEW.increase := case
    when NEW.value >= lastVal THEN NEW.value - lastVal
    ELSE NEW.value;

return NEW;

[2020-10-05 21:58] allgreed opened #285 "Promscale fails to run after restart"
I'm running promscale on Digitalocean inside a k8s deployment with a managed postgres db. When I kill the initial working pod and pods created after that terminate with an error and display following log:
[code]

[2020-10-05 22:13] Harkishen-Singh commented on #285
This is a duplicate of https://github.com/timescale/promscale/issues/150. We are working on this and the fix will be out soon. TSL version of Timescaledb should not cause only issue (assuming compression is the problem, as in case of the mentioned issue)

[2020-10-05 23:10] allgreed commented on #285
@Harkishen-Singh no idea how to debug it, so I'm agnostic about your assumption. Yet the behaviour is weird as until the first restart everything works great. And it seems to be tied to the database as when I recreate it and restart promscale everything works great again. Does that description match the compression thingy in your opinion?

[2020-10-06 04:03] Harkishen-Singh commented on #285
What do you mean "when I recreate it"?

[2020-10-06 14:37] #231 closed

[2020-10-06 17:28] 0x4A6F opened #290 "`-flag true` prevents other flags from being set"
During development of a [module and tests for NixOS](https://github.com/NixOS/nixpkgs/pull/97372), I stumbled upon this behavior.

[code]

If environment variables are set, promscale works.
[code]

[2020-10-06 17:46] Harkishen-Singh commented on #290
Could you detail on this?

[2020-10-06 18:08] 0x4A6F commented on #290
I'm setting the environment variables, if `RestElection:true` in `nixos/modules/services/monitoring/promscale.nix`.

[code]

This leads to promscale starting with non-default settings defined in `nixos/tests/promscale.nix`.
Settings are also applied through command line args, if `RestElection:false`.

Setting these variables through command line args (previous block commented out), while `RestElec

[2020-10-06 21:30] allgreed commented on #285
Sorry, bad wording choice. By recreate I mean: delete the database and spin up a new empty one with the same name

[2020-10-07 19:44] JLockerman commented on #290
on my local machine
both
[code]
and
[code]
have the correct config options, which makes me think it's not `RestElection` per sei that's causing the issue...

[2020-10-07 19:51] JLockerman commented on #290
@0x4A6F do you have the command-string and environment variables that are used in the erroneous case?

[2020-10-07 19:51] 0x4A6F commented on #290
There are no environment variables set in the erroneous case. Have you tried to set TS_PROM_DB_HOST only through command line args?

[2020-10-07 19:54] JLockerman commented on #290
@0x4A6F yup, still gives me the same configuration
[code]

[2020-10-07 20:02] JLockerman commented on #290
@0x4A6F  aha!
[code]
notably, if we use `-leader-election-rest` instead of `-leader-election-rest true` the issue does not occur
[code]
and it only invalidates the flags after the leader election one
[code]
we must be gobbling arguments to eagerly...

[2020-10-07 20:06] JLockerman commented on #290
it happens with other boolean flags as well
[code]
using `-flag=true` does not cause the issue
[code]

[2020-10-07 20:08] JLockerman commented on #290
replacing `true` with another string also causes the issue.
[code]
my current guess is that `-flag <bool>` is not supported by go's flag package, instead treating the string after the flag as the first positional argument

[2020-10-07 20:11] JLockerman commented on #290
[from the docs](https://golang.org/pkg/flag/)

[2020-10-07 20:13] 0x4A6F commented on #290
Thanks.

[2020-10-07 22:36] JLockerman commented on #290
since this is apparently not a bug, I'm renaming the issue to make it easier for future searches, and closing.

[2020-10-07 22:36] #290 closed

[2020-10-07 22:39] JLockerman commented on #225
(wow this really fell of my radar)
@JDTX note that you can just fix it in the command passed in by docker compose, as we do in https://github.com/timescale/promscale/commit/f0452e4d3d4f5af1950b5a8effb457bf158b98ef
in fact, @cevian are we good to close this?

[2020-10-08 12:21] pocman opened #292 "ERROR: missing FROM-clause entry for table "hi""
Hi,
when trying to execute this query `SELECT * from prom_info.metric;` using promscala with `-install-timescaledb=false`, i have the following error

[code]

see https://github.com/timescale/promscale/blame/76518ed5ce1593223222638740bab141db814cc5/pkg/pgmodel/migrations/sql/idempotent/base.sql#L1226

[2020-10-08 14:59] franck102 opened #294 "Relationship between set_[default|metric]_retention_period and timescaleDB policies is unclear"
** Version:
plpgsql,"1.0"
timescaledb,"1.7.4"
promscale,"0.1.1"

After calling both set_default_retention_period,  and set_metric_retention_period on some tables, the tables don't appear to have any Timescale drop chunk policies installed (SELECT * FROM _timescaledb_config.bgw_policy_drop_chunks returns nothing).

How will those retentions be applied, is promscale using its own mechanism? If so wh

[2020-10-08 17:16] cevian commented on #294
The drop chunks stuff is not handled through policies. It's handled by the `execute_maintenance()` procedure called by CRON. The reason is we need additional cleanup when dropping chunks: namely, we need to delete no-longer-used series and labels. This is handled in procedures called by `execute_maintenance()`

[2020-10-08 22:11] cevian commented on #285
#291 should fix this issue. But be warned the ApacheOnly version of Timescale will not have compression.

[2020-10-09 01:38] cevian commented on #292
This should get fixed by #297

[2020-10-09 09:29] franck102 commented on #294
Makes sense, thanks!

I assume that the same rules as timescaledb's apply w.r.t. ignore_invalidation_older_than for continuous aggregates created on top of promscale hypertables?
Meaning execute_maintenance will refuse to drop chunks if that were to cause a materialized CT to lose materialized data?

[2020-10-09 12:59] cevian commented on #294
@franck102 yes that is correct. The underlying call is `PERFORM drop_chunks(table_name=>metric_table, schema_name=> 'SCHEMA_DATA', older_than=>older_than, cascade_to_materializations=>FALSE);`

Note this may change a bit once we move things to timescaledb 2.0

[2020-10-09 15:26] cevian commented on #281
This should be supported after #291 lands. You will be able to turn off compression, alter table, reenable compression.

[2020-10-12 09:43] franck102 opened #299 "promscale-drop-chunk cronjob fails to schedule; and logs nothing"
The Kubernetes cronjob installed by the helm chart doesn't specify a startingDeadlineSeconds. As a result after any kind of outage the job is never scheduled again, the Kubernetes controller considers that:
[code]

After fixing this problem, the scheduler schedules the job but the job pod's log contains a single word:
[code]

I would help to know if the job actually called something, and what happ

[2020-10-12 16:04] #292 closed

[2020-10-13 07:05] blagojts commented on #56
@oliverpjames you need to open a PR from your own repo. You don't have permission to push directly to this repo

[2020-10-13 09:01] pocman opened #302 "Document compatibility with dependencies in README and Release Notes (PostgreSQL+TimescaleDB+Promscale extension)"
It would be great to add the supported postgresql version in the Readme and the release notes.

[2020-10-13 09:40] Harkishen-Singh commented on #302
This https://github.com/timescale/promscale/pull/273 PR does that work from the promscale's side. Further, we will have this mentioned in the upcoming docs/website.

[2020-10-13 12:19] #150 closed

[2020-10-13 12:29] antekresic commented on #285
With #291 merged in, this issue should be resolved.

Feel free to reopen it if you continue to get this issue with the latest build.

[2020-10-13 12:29] #285 closed

[2020-10-13 17:36] #294 closed

[2020-10-15 14:13] fayak opened #306 "Feature request: Having a way of knowing the size taken by the data for a period of time"
As mentioned on Slack, I have an idea for a feature that could be useful, regarding data storage.

I'd like to know how much space is taken by my data, to make estimations and be able to plan storage amount, provision new disks, estimate backup sizes, etc.

This feature could be implemented by a function or and API call, and its parameters/output could be the following:
- Filter data by a label, a

[2020-10-15 19:02] jpigree opened #307 "Highly Available promscale with Helm"
Hi. I wanted to test Promscale HA capabilities with the Helm chart. I tried to just up the number of replicas but I saw a warning saying that my setup wasn't HA. So I read this [document](https://blog.timescale.com/blog/prometheus-ha-postgresql-8de68d19b6f5/) and from what I understand I need to pass those arguments to the PromScale command-line:
 `-leader-election.pg-advisory-lock-id=1 -leader-el

[2020-10-16 00:43] jpigree opened #308 "Prometheus fails to see new timescaledb metrics after 4 hours of service"
Hi. I have a setup like the following:
![setup](https://user-images.githubusercontent.com/3977280/96197017-92a09400-0eec-11eb-8ebc-0912771231c1.png)

It works fine but, as soon as I add alerts on the reader Prometheus, I start to have a weird behavior. After 4 hours of service, it stops to see any new metrics.
![missing_data](https://user-images.githubusercontent.com/3977280/96184958-e901d880-0ed4

[2020-10-16 20:36] jpigree commented on #308
Found a workaround, with a cronjob restarting my failing prometheus reader instance every 4 hours. Not clean but functional.

[2020-10-18 17:41] cevian commented on #308
@jpigree have you tried connecting Grafana directly to Promscale? Promscale now supports all of the PromQL endpoint so a separate reader prometheus shouldn't be necessary. The newest tobs helm charts should already do that.

[2020-10-20 06:53] chrisgraf opened #310 "Password not masked in runner.go:104"
I downloaded the latest binary and ran:
[code]
resulting in:
[code]
So in client.go:90 it is correctly masked but not so in runner.go:104 (I replaced my true password by 'mypassword')

Additionally a question: why does it warn me about 'the extension is not available. continuing without extension' - is it the timescaledb extension? I made sure that it is installed in the database..

[2020-10-20 17:10] Harkishen-Singh commented on #310
Thank you for pointing that out. This surely needs to be fixed.
This is happening since we are printing the variable as a whole (and hence prints the password).

[2020-10-20 17:25] Harkishen-Singh commented on #306
We do have the asked data (like compressed, uncompressed sizes) in `timescaledb_information.compressed_hypertable_stats` and `timescaledb_information.hypertable` where details related to metrics data are available. Have you checked these?

Also, in order to plan the amount, wont `\l+ <timescaledb_name>` or `select pg_database_size('<timescaledb_name>');` be enough?

[2020-10-20 17:29] Harkishen-Singh commented on #307
Thank you for this. I feel the mentioned things should be enough for the proposed PR, along with some carefulness while implementing.

However, @JLockerman any views?

[2020-10-21 01:26] jpigree commented on #308
@cevian, I didn't know we could do that. Great idea and it was so easy to do.

I had a bit more work since I moved my alert rules to the Prometheus instances in the swarm clusters, but, for now, everything works fine and I have one less component to maintain. Thank you so much.

[2020-10-21 01:26] #308 closed

[2020-10-22 14:10] tylerfontaine opened #312 "pg_dump / pg_restore instability with promscale data"
Because of the many tables created by the promscale schema, backup and restore operations are a little brittle.

pg_dump calls were frequently failing due to max_locks_per_transaction:

[code]

Ultimately, I had to raise max_locks to 1000 to allow a pg_dump to go through, trying at 100, 300, 500 first.

This database has 119628 tables (according to `select count(*) from information_schema.tables;`

[2020-10-22 18:03] JLockerman opened #314 "More Precise SeriesID invalidations"
In PR #304 we added a mechanism to invalidate the per-metrics SeriesId cache when series ids are deleted on the database. Thought the initial implementation is coarse-grained, trashing the entire cache, we designed the mechanism with the possibility of more precise invalidations. Specifically, on a epoch change, the cache can read all of the IDs that have delete epochs, and, if it hasn't missed an

[2020-10-22 20:38] jpigree commented on #307
@Harkishen-Singh , @JLockerman , I created a PR for this feature. I tested it. The arguments are correctly propagated to the Promscale pods and I successfully configured an HA setup with it.

After the merge, I think I will need to update the tobs chart aswell to be able to access this feature.

[2020-10-26 09:58] #310 closed

[2020-10-26 13:57] cevian commented on #312
@antekresic can we please document that we need a higher max_locks_per_transaction  for pg_dump/pg_restore in our FAQ.
Left as a TODO: consider making this setting higher with ts_tune

[2020-10-26 14:04] cevian opened #320 "Document Downsampling with Recording Rules"
Add documentation for some downsampling with recording rules.

[2020-10-27 13:34] cevian commented on #115
This has been implemented with the "only" option of the `-migrate` flag (https://github.com/timescale/promscale/blob/master/pkg/runner/runner.go#L73).

[2020-10-27 13:34] #115 closed

[2020-10-30 06:14] #307 closed

[2020-11-02 18:15] cevian opened #329 "Better auto-upgrade policies for dependencies"
A few things to do (all up for discussion)

- [x] Prevent auto-upgrades to extension versions higher than default version of extension
- [x] Prevent auto-upgrades across major versions (guarded by flag)
- [x] Prevent auto-upgrades to pre-release versions (guarded by flag; possibly with exception of default version?)
- [x] Have a catch-all auto-upgrade flag for all extensions
- [x] Make sure all CL

[2020-11-03 06:13] franck102 commented on #329
Hi, I would also suggest:
1. Having any upgrade turned off by default
2. Having installation and upgrades of the timescaledb extension turned off by default

I do understand the desire to make things easy for users, however with the current defaults the risk is high to see a properly tested solution deployed to a production environment, only to fail at a random later time as a new release of eithe

[2020-11-03 10:55] Harkishen-Singh opened #330 "Unit-tests for fresh install/database"
As in community channel, the 0.1.1-dev version has a `foreach null issue` on a fresh db. So, we need to have a dedicated test suite that works the installation of promscale schemas and normal functionality on a fresh database. This can be related to upgrades as well.

[2020-11-05 17:56] franck102 opened #333 "PostgreSQL Segmentation fault after query against continuous aggregate table"
Postgres version: PostgreSQL 12.4 (Debian 12.4-1.pgdg100+1) on x86_64-pc-linux-gnu, compiled by gcc (Debian 8.3.0-6) 8.3.0, 64-bit

Extensions:
[code]

Not sure if this is timescale or promscale, but I can reliably crash PostgreSQL with a fairly simple query:

[code]
The Postgres logs only have this:

[code]

Removing the label selector fixes the pb, the following query doesn't trigger the issue:

[2020-11-06 16:18] #330 closed

[2020-11-09 07:36] franck102 commented on #329
Is there any proposed workaround for installing promscale today using helm?
The latest chart available from the repository, 0.1.1, doesn't support setting container args for the promscale container, so we cannot pass -install-timescaledb=false & -migrate=false, promscale upgrades tsdb to 2.0.0-rc2 and the deployment doesn't work.

I created a local copy of the latest promscale chart, specifying th

[2020-11-09 13:24] franck102 commented on #329
Trying to install with the  -install-timescaledb=false & -migrate=false args, against a fresh 1.7.4 timescaledb install, promscale fails to start with this message:

level=info ts=2020-11-09T13:20:55.340Z caller=runner.go:103 msg="Version:0.1.1; Commit Hash: "
level=info ts=2020-11-09T13:20:55.340Z caller=runner.go:104 config="&{ListenAddr::9201 TelemetryPath:/metrics PgmodelCfg:{Host:dms-timescal

[2020-11-09 17:17] JLockerman commented on #333
@franck102 could you share an EXPLAIN for this plan if it doesn't segfault? I suspect the issue will be idiosyncratic to the specific plan-structure this query and dataset generates...

[2020-11-09 21:28] cevian commented on #329
@franck102 your immediate issues are fixed by release 0.1.2. #338 which is part of that release will guarantee that the docker image `timescaledev/timescaledb-ha:pg12-ts1.7-latest` will stay on 1.7.x and never go above that. Apologies for this bug.

BTW your comment https://github.com/timescale/promscale/issues/329#issuecomment-724010817 does not work since migration is disabled but you need to mi

[2020-11-10 06:08] franck102 commented on #329
Thanks @cevian for the quick turn-around, we will test 0.1.2 right away.

[2020-11-12 18:00] cevian opened #346 "Make size estimation/planning easier"
- [ ] add compressed size column to prom_info.metric view
- [ ] add docs to explain that the size is usually some <fixed uncompressed cache that doesn’t grow over time> + <compressed chunk sizes that will grow as more and more data gets ingested>
- [ ]  Can we get some numbers for sizes in typical prom deployments for back-of-the-envelope calcs?

[2020-11-12 23:37] JLockerman opened #347 "Multinode compression policies"
In PR #334 we added support for multinode metrics tables. However, these aren't yet ready for primetime as we do not yet support compression policies for distributed hypertables. This issue tracks that feature.

Open Questions:

- [x] do we implement our own compression policies or wait for upstream? (currently intend to implement our own)
- [ ] do we migrate non-multinode tables to use our custom

[2020-11-16 16:42] Harkishen-Singh opened #351 "Non-leaders should not fill the logs"
Currently the non-leaders in the leader-election method do not stop logging and hence fill the logs which are enough to be logged just once until a change. This needs to be fixed. Log only if the situation compared to previous is changed.

- [ ] Lesser logging by non-leaders

[2020-11-16 21:33] cevian commented on #333
@franck102 I've tried to repro in several ways and could not. Can you get the core dump by chance?

[2020-11-17 18:40] JLockerman opened #352 "Textual timestamps for JSON writes"
Our current JSON write endpoint added in PR #345 uses integer timestamps as in
[code]
for human readability and writability it might pay to also accept textual timestamps in one of the go formats, e.g. (note times are different)
[code]
This issue exists to track that potential feature.

[2020-11-19 03:05] teochenglim opened #356 "Translation from promql to timescale, multi series in Grafana"
Hi guys,

I would need help to translate this existing query from promql to promscale.

[code]

what i have now

[code]

Thanks.

[2020-11-19 03:25] teochenglim commented on #356
What I need it is a jsonb(labels) to extract one of the labels called "source" and drop the rest of the labels.

in promql it returns

[code]

[2020-11-19 03:33] teochenglim commented on #356
Found example works on SQL but not on Grafana

Example query for single point with their labels:

[code]

Results:

[code]

[2020-11-19 03:35] teochenglim commented on #356
Grafana return error:

[code]

[2020-11-23 11:27] jon-v commented on #333
We are experiencing the same issue, also with a time-filtered query, and the crash happened only when the time window included very recent data. Setting materialized_only on the view made the crash disappear.

`
 PostgreSQL 12.4 on x86_64-pc-linux-musl, compiled by gcc (Alpine 9.3.0) 9.3.0, 64-bit
 timescaledb | 1.7.4
`

`2020-11-23 10:08:01	2020-11-23 10:08:01.815 UTC [1] LOG: server process (PID

[2020-11-23 13:57] jon-v commented on #333
Just realized this is a promscale-specific issue - should I make a separate issue report directly to the timescaledb project?

[2020-11-23 14:52] cevian commented on #356
@teochenglim just to make sure you are aware --- you can execute promQL queries directly against Promscale. You do not need to manually translate to SQL.

[2020-11-23 14:53] cevian commented on #356
In grafana you simply set up a promQL data source pointing to Promscale.

[2020-11-23 15:04] Harkishen-Singh commented on #356
I think this issue sounds like it's more related to Grafana than Promsale.

[2020-11-24 02:11] teochenglim commented on #356
Hi @cevian @Harkishen-Singh can you guys help?

I tried below as Grafana data source, but it show 'HTTP Error Not Found', I don't know how to add it as prometheus datasources.

[code]

So with no choice, what i can do is add the 5432 as Grafana data source and it can only query with SQL.

how i start promscale

[code]

[2020-11-24 09:13] Harkishen-Singh commented on #356
I think your promscale url as per the env vars is `127.0.0.1:9201`.

So, in grafana, go to settings **->** data sources **->** click on `add data source button` **->** select prometheus from list of options (generally the first one) **->** In the URL field, place the above promscale url (that should be enough if you don't have auth and other stuff enabled) **->** click on `Save & Test`

[2020-11-24 11:33] teochenglim commented on #356
@Harkishen-Singh

Yes, this is exactly what i do and i get 'HTTP Error Not Found' . in Facts, I do it locally it is the same

[code]

but metrics-text is okay

[code]

[2020-12-01 15:57] Harkishen-Singh opened #363 "Implement metric metadata ingestion in catalog"
The recent PR (#6815) at prometheus upstream adds support for sending prometheus metric metadata (metric type, unit, help text) over remote write component (via promb, see integration PR: #361 ). We should implement the same in our catalog or in hypertables.

cc @cevian

[2020-12-02 20:01] cevian commented on #356
@teochenglim Which version of promscale are you running?

On 0.1.2 running as
[code]

I get
[code]
But note /api/v1 returns a 404 as it should because that's not a complete endpoint URL
[code]

[2020-12-02 20:05] cevian commented on #351
Clarrification: This is only the debug log level. The default log level already doesn't pollute log

[2020-12-02 20:37] cevian commented on #333
@jon-v Thanks so much for the report. I filled an issue with timescaledb. If you still have the core dump, can you please open it and run `bt` for the backtrace output or send it to us using https://fromsmash.com/ or similar?

[2020-12-02 20:46] cevian commented on #306
related to #346

[2020-12-02 20:54] cevian commented on #281
This particular issue is now resolved by supporting turning off compression on tables. See #291 .

[2020-12-02 20:54] #281 closed

[2020-12-02 21:05] cevian commented on #151
Implemented in #326 will be in next release

[2020-12-02 21:05] #151 closed

[2020-12-02 21:06] cevian commented on #86
The rest API is implemented by #326

[2020-12-02 21:14] cevian commented on #131
I assume this is resolved. Please re-open if this issue is not resolved.

[2020-12-02 21:14] #131 closed

[2020-12-02 21:21] cevian commented on #123
@antekresic do you think this is still worthwhile? Specifically the compression. We are now using github.com/NYTimes/gziphandler

For json we know manually compile it, which is faster than any general-purpose encoder see `marshalVectorResponse` and other functions in marshal.go

[2020-12-02 21:26] cevian opened #366 "Document remote write parameters"
Document suggested parameter for remote write https://prometheus.io/docs/practices/remote_write/
e.g.  capacity shards etc

[2020-12-02 21:26] cevian commented on #116
moved to new issue #366

[2020-12-02 21:26] #116 closed

[2020-12-02 21:28] cevian commented on #57
@antekresic what is all this about?

[2020-12-02 21:30] cevian commented on #56
Sorry for letting this issue stagnate. Helm 3 has been out for a year so I am gonna close this issue. If people feel strongly please re-open this issue or file a new one.

[2020-12-02 21:30] #56 closed

[2020-12-02 21:32] cevian commented on #254
@Harkishen-Singh do you want to take this up as part of your refactoring?

[2020-12-03 02:02] teochenglim commented on #356
@cevian thank you for the reply. I am not sure which version am I using. But it is downloaded like 2 months back.

I get the same result for curl, but what I am asking is what should be the "correct" path for Grafana as data source? If it doesn't appear and clarify here or in the documentation, I believe most people will stuck as I do. Frankly speaking, all others framework like Thanos, Cortex, Vi

[2020-12-03 10:19] Harkishen-Singh commented on #356
@teochenglim sorry for the delay in replying.

Is expected to give a `404` as it has no handler at that endpoint.

is the endpoint that will tell you the health. The response should be empty (meaning status code 200).

 For ensuring that promscale is running, just do
`curl localhost:9201/api/v1/query`

and it should return as

`{"status":"error","errorType":"bad_data","error":"1:1: parse error: no

[2020-12-03 10:29] Harkishen-Singh opened #367 "tput-report does respect the interval"
[code]

Is expected to report the through-put (samples/sec) every 100 seconds. But, the reporting happens every second.

@cevian

[2020-12-03 11:00] Harkishen-Singh opened #368 "Warn about compression when more than 8 dbs"
Compression requires a minimum of 2 db workers. That means, beyond 7 databases, no database will get compressed. the user needs to be warned about this case.

[2020-12-03 11:01] Harkishen-Singh commented on #254
Sure, I can take this, but maybe in a different PR than the write path refactoring, so that it's easier to keep a note of things.

[2020-12-03 18:07] Harkishen-Singh opened #369 "Avoid possible loss of resolution when switching leaders"
The current leader-election for HA configuration is such that once the leader stops receiving the samples from prometheus instance for a period of the timeout, it gives up the advisory-lock and the non-leader then after receiving its samples from its corresponding Prometheus attempts and takes the lock. This means the samples between the fall of leader to the rise of the non-leader are dropped.

W

[2020-12-03 21:41] cevian commented on #369
Needs planning as depends on other HA features/considerations, like whether we will support label-based HA switchover like cortex

[2020-12-03 21:53] cevian commented on #270
I think all links have now been fixed

[2020-12-03 21:53] #270 closed

[2020-12-03 21:57] cevian commented on #299
not to whoever picks this up: Also see #191, which needs to be redone

[2020-12-03 22:42] mitchellmaler opened #370 "Support Reading Prometheus WAL directly instead of Remote Write as a Sidecar to reduce memory usage"
Today using the remote_write to promscale works but it does require prometheus to use more memory and direct network calls. One option seen with other similar projects is to read the Prometheus TSDB WAL directly to then process and ship out to an external store (here would be timescaledb).

Do you think this is something that could be added to make deploying promscale as a sidecar easier and reduc

[2020-12-04 05:15] teochenglim commented on #356
@Harkishen-Singh thank you for the explanation.

[2020-12-04 05:15] #356 closed

[2020-12-04 08:54] Harkishen-Singh commented on #370
Thank you for sharing your views @mitchellmaler. 25% increase in memory is significant. I will discuss this with the team.

[2020-12-04 12:07] jmvizcainoio opened #371 "duplicate data in sample"
Hi I have deployed timescaledb using the helm chart and promscale also.
the values are by default

When the installation is completed a can show metrics, after a fews minutes the ingest stops and promscale log this.

[code]

The timescaled log this.
[code]

the logs was crazy printing the same output.

If the data are duplicated is not inserted in timescale ? why i can`t see more data ? all sample

[2020-12-04 12:59] blagojts commented on #371
Hi, can you clear up some things for us:
1. Does ingest fail or you manually stop it?
2. Does promscale log any errors or just the duplicate warnings?
3. Where can't you see more data?

Regarding the duplicates, no they are not inserted, just the warning is logged

[2020-12-04 14:10] jmvizcainoio commented on #371
Hi @blagojts

The ingest fail, i think that the problem is that promscale detect the duplicates and discard.

Promscale just print duplicate and some

`level=warn ts=2020-12-04T14:00:50.750Z caller=write.go:81 msg="Error sending samples to remote storage" err="ERROR: invalid byte sequence for encoding \"UTF8\": 0x00 (SQLSTATE 22021)" num_samples=100`

When i deploy the timescale and promscale this

[2020-12-05 06:50] Harkishen-Singh commented on #371
Hey @jmvizcainoio , thank you for mentioning this. Are you ingesting into Promscale via Prometheus or you are using some other way for ingestion?

[2020-12-06 10:29] hacker opened #372 "promscale has problems checking some postgresql versions"
namely, if a version component consists solely of zeroes it strips one too many zeroes leaving nothing to parse. The fix would be for instance this:

[code]

Or, given the component is at most two digits, `.TrimPrefix(s,"0")` could be used, but then the `trimLeadingZeros()` name would be inaccurate.

[2020-12-08 05:31] Alaith commented on #371
I am experiencing the same promscale warnings. Prometheus has promscale configured as remote-storage; deployed with docker-compose. Hundreds of "duplicate data in sample" warnings per second from promscale.

I followed this docker-compose https://github.com/timescale/promscale/blob/master/build/docker-compose.yml

[2020-12-09 08:36] jmvizcainoio commented on #371
Hi @Harkishen-Singh, yes i'm ingesting data from prometheus.

If I restart Prometheus everything seems to be working, but the duplicate data warning appears after a few seconds.

This is the log of promscale

[code]

Prometheus log

[code]

Thanks

Juanma

[2020-12-15 20:41] phebous opened #387 "recovery from connection closed"
Hello,

I had to increase disk for the timescale database.  Because I am using bosh to manage the vm for the timescale, this is completely automated.  I just update the manifest with new size and it goes through the process shutting down the database, creating new disk, copying the data to the new disk and then restarts the server.   The bug I found with the promscale was when the database is shut

[2020-12-17 08:48] #170 closed

[2020-12-18 17:23] cevian opened #391 "Feedback Wanted: Prometheus benchmarking feedback"
This is meant as a thread to share ideas of the best way to create an open, reproducible, and fair benchmarking suite for various long term stores in the Prometheus ecosystem.

Especially helpful would be pointers to open datasets with real-world prometheus data.

[2020-12-18 17:28] cevian commented on #391
We do have a loader for prometheus data in tsbs https://github.com/timescale/tsbs/tree/master/cmd/tsbs_load_prometheus but we aren't quite happy with it for the following reasons:

[2020-12-18 18:21] RichiH commented on #391
https://docs.google.com/document/d/12DcuwrHnR-gVbWQq2Qq5UI2ZIq5CqS7W3OYALU6Bke8 might be relevant to your interests.

[2020-12-18 21:47] cevian commented on #387
Thanks for this report. Do you think it's better to exit the process or recover internally?

[2020-12-18 21:48] cevian commented on #372
@Harkishen-Singh since you wrote this code can you take a look?

[2020-12-18 21:49] phebous commented on #387
Since this is a service and meant to be ran unattended, I would think that it should attempt to recover.

[2020-12-18 21:51] cevian commented on #371
I think the underlying error is `ERROR: invalid byte sequence for encoding \"UTF8\": 0x00 (SQLSTATE 22021)` Can @VineethReddy02 or @Harkishen-Singh or @antekresic take a look?

[2020-12-19 00:13] valyala commented on #391
I'd propose creating a dataset from real time series data collected from the most widely used exporters such as [node_exporter](https://github.com/prometheus/node_exporter/), which run under production load. Then this data could be ingested into various Prometheus-compatible remote storage systems at a fixed rate, while measuring resource usage during the benchmark (CPU, RAM, disk IO, disk space,

[2020-12-19 08:27] Harkishen-Singh commented on #372
@hacker thank you for pointing this out. The solution that you suggested is good. Would you like to submit a PR for this?

[2020-12-19 08:31] Harkishen-Singh commented on #371
@jmvizcainoio and @Alaith for informing and providing the details. We will take a look into this shortly. Thank you very much.

[2020-12-19 08:37] Harkishen-Singh commented on #370
@mitchellmaler we discussed about this. This method has possibilities of loosing data in case of a crash, which is something not desirable. Still, I think is something `nice to have` in future if more people request for it. Thank you very much for giving your suggestion.

[2020-12-19 08:48] Harkishen-Singh commented on #371
Not sure, but I feel like there is some issue with the source of data.

[2020-12-19 22:29] hacker commented on #372
Sure, here you go #392

[2020-12-20 22:00] Alaith commented on #371
I'm not familiar enough with how Prometheus scrapes data and ships it to remote storage to judge.

My prometheus.yml was simply statically configured to monitor: itself, node-exporter, and cAdvisor. I'm using the latest version of Prometheus, latest node_exporter, and cAdvisor v0.38.6.

[code]

[2020-12-22 08:43] jmvizcainoio commented on #371
@Harkishen-Singh Great, If you need more info about the prometheus / promscale config let me know.

Thanks

[2020-12-23 15:25] #299 closed

[2020-12-23 15:43] VineethReddy02 commented on #371
Hi @jmvizcainoio

We think that the labels you are ingesting aren't UTF-8 encoding. Can you please ensure that all the label keys, label values  & metric names are UTF-8 encoded.

[2020-12-24 11:00] antekresic commented on #372
PR merged, issue resolved. Thanks again!

[2020-12-24 11:00] #372 closed

[2020-12-24 15:20] #367 closed

[2020-12-25 13:27] DMOsipov opened #401 "reset_metric_retention_period updates all records in metric table, not only specified metric"
`SELECT id FROM SCHEMA_CATALOG.get_metric_table_name_if_exists(metric_name)`

`metric_name` should be prefixed with function name. Otherwise the column `metric_name` is used here and all rows in the table are updated.

`SELECT id FROM SCHEMA_CATALOG.get_metric_table_name_if_exists(reset_metric_retention_period.metric_name)`

[2020-12-28 16:23] jmvizcainoio commented on #371
Hi @VineethReddy02

I checked all job_names in prometheus and the error was on `kube-controller-manager` metrics.

Kube controller manager are exposing a metric with a incorrect value.

[code]

I have disabled the controller metrics and now promscale works perfect.
Thanks

[2020-12-28 16:37] VineethReddy02 commented on #371
We noticed the root cause of `level=warn ts=2020-12-09T08:29:49.339Z caller=sql_ingest.go:657 msg=" duplicate data in sample" table=kube_secret_created duplicate_count=6 row_count=6`

This is because of cAdvisor exposes the timestamps along with values whereas other exporters will handover the task of attaching timestamps to Prometheus. When prometheus scrapes the cAdvisor target there can be a ca

[2020-12-29 09:47] ali-ghasempor opened #402 "Promscale extension version is behind TimescaleDB version"
Hello,

I recently updated my TimescaleDB to [latest available version](https://github.com/timescale/timescaledb/releases/tag/2.0.0) (2.0.0), and I'm running on promscale version 0.1.3. However Promscale is unable to update extension and migrate data in TimescaleDB. I suspected that, new release of Promscale is needed to be compatible with TSDB v2.0.0.
Following are details of setup:
Timescale ext

[2020-12-29 10:56] VineethReddy02 commented on #402
Hi @ali-ghasempor

We have noticed this issue recently. For now, promscale doesn't support TimescaleDB 2.0.0 multi-node so this needs some work that needs to get into promscale. I would suggest you to use a lower version of timescaleDB for time being. We will be releasing the promscale soon with the fix.

[2020-12-29 20:54] VineethReddy02 commented on #402
Promscale **0.1.4** is released it addresses this issue https://github.com/timescale/promscale/releases/tag/0.1.4

I am closing the issue for now.

[2020-12-29 20:54] #402 closed

[2020-12-31 03:52] htsoi-boto opened #409 "promscale environment variables not respected in new docker-compose.yml"
commit c1e72654938051a06fc36e8e1cc4afba70407817 where values changed from TS_PROM to PROMSCALE doesn't seem to take effect in environment variables.

prometheus_postgresql_adapter: restarts and docker logs output:

level=info ts=2020-12-31T03:49:23.832Z caller=client.go:54 msg="host=db port=5432 user=postgres dbname=timescale password='****' sslmode=allow connect_timeout=10" numCopiers=8 pool_max_

[2020-12-31 03:53] htsoi-boto commented on #409
[https://github.com/timescale/promscale/commit/c1e72654938051a06fc36e8e1cc4afba70407817#diff-5760aead5887edbf5189540adaedc0978c537b7173d5889f90cf8082cea8ce4a](url)

[2021-01-04 07:03] VineethReddy02 commented on #409
Hi @htsoi-boto
The issue is you need to explicitly pull the image `docker pull timescale/promscale:latest` the `docker-compose up` uses an existing image if an image is available locally. As env prefix, name change from `TS_PROM` to `PROMSCALE` is released recently. Please pull the promscale explicitly and try using the `docker-compose.yml`.

Reverting to old env variables works because the image

[2021-01-04 07:34] puck opened #413 "util.MaskPassword doesn't handle passwords with spaces"
Hey,

I was looking at my logs from promscale and was pleased to see the PG database password was masked, but then surprised to see only the first word was masked.

Looking at the regexes, they only match until a space is seen. Looks to me like they should match until "( \w+:|$)" is seen.

Cheers,
Andrew

[2021-01-04 10:41] VineethReddy02 commented on #401
Hi @DMOsipov

To reset metric retention specific to a metric use the below SQL cmd

`SELECT prom_api.reset_metric_retention_period(container_cpu_usage_seconds_total)`

TO update retention specific to a metric use

`SELECT prom_api.set_metric_retention_period(container_cpu_usage_seconds_total, INTERVAL '1 day' * 2)`

[2021-01-04 16:12] cevian commented on #329
note some work on this in #394

[2021-01-04 18:26] cevian commented on #401
Hi @DMOsipov I found the issue and solve it in #414. Thanks a lot for the report

[2021-01-06 23:03] #401 closed

[2021-01-08 07:50] max-tian opened #418 "The timescaledb is the same as promscale-extension, right?"
`timescaledev/promscale-extension:latest-pg12`
and
`timescale/timescaledb:latest-pg12`

Are they the same one?

[2021-01-08 08:44] franck102 opened #419 "Backgroun compression job error"
With Postgresql 12 and those extensions:
[code]

and PromScale 0.1.4:

`level=info ts=2021-01-06T17:21:29.005Z caller=runner.go:149 msg="Version:0.1.4; Commit Hash
`
I am getting the error below in the logs. Despite this the job status in the job_status table is Success - should the error be ignored?

[code]
[code]

[2021-01-08 09:20] VineethReddy02 commented on #418
Hi @max-tian

The `timescale/timescaledb:latest-pg12` only contains TimescaleDB extension whereas `timescaledev/promscale-extension:latest-pg12` contains the TimescaleDB along with Promscale extension (the promscale ext is optional but we recommend to use it, as it contains support functions to improve the performance of Promscale.)

More details on Promscale extension can be found [here](https://

[2021-01-08 09:45] Harkishen-Singh commented on #419
@franck102 thank you for opening an issue for this. @cevian could you please take a look at this?

[2021-01-08 10:05] max-tian commented on #418
Thank you very much! 👍

[2021-01-08 10:05] #418 closed

[2021-01-08 12:03] franck102 commented on #329
Thanks @cevian , looks like we are getting there 👍

[2021-01-08 12:11] franck102 commented on #281
Thanks @cevian , I am getting back to this, so if I understand correctly the workflow would be something like:

<Trigger on insert in _prom_catalog.metric, do nothing unless creation_complete==true>:
  - disable compression on prom_data.<NEW.table_name>
  - alter table prom_data.<NEW.table_name> add column xyz
  - re-enable compression on the table

Is that how that would work?
Franck

[2021-01-08 12:52] VineethReddy02 commented on #65
In the Promscale 0.1.4 release, we added support for Promscale to connect to TimescaleDB using `--db-uri` flag.
More details on the configuration with helm are documented [here](https://github.com/timescale/promscale/tree/master/helm-chart#prerequisites) and on regarding promscale flags are documented [here](https://github.com/timescale/promscale/blob/master/docs/cli.md#database-flags)

closing th

[2021-01-08 12:52] #65 closed

[2021-01-11 03:09] pratapagiri opened #421 "Custom metrics support"
Is it possible to ingest and query custom metrics in Promscale?

[2021-01-11 03:12] Harkishen-Singh commented on #421
@pratapagiri, yes it is possible. You can directly push your metrics manually via https://github.com/timescale/promscale/blob/master/docs/writing_to_promscale.md or configure Prometheus to scrape and push metrics for you via remote-write.

[2021-01-11 04:36] #421 closed

[2021-01-11 04:36] pratapagiri commented on #421
Thanks @Harkishen-Singh

[2021-01-14 15:47] Harkishen-Singh opened #426 "Make timeout for PromQL engine configurable via URL params"
Right now, the timeout for any PromQL query through Promscale has a fixed timeout of 1 minute. This should be configurable as many queries can surpass that limit and still perform as expected. Hence, this should be made configurable via params, maybe something like `&timout=600s` like how Prometheus does ([link](https://prometheus.io/docs/prometheus/latest/querying/api/#range-queries)).

**Relevan

[2021-01-15 09:30] patstrom opened #427 "Poor performance from Timescale Cloud and Promscale"
In December I evaluated Timescale Cloud and Promscale for handling a moderate (~20GiB data over a 3w period) amount of metrics and experienced fairly poor performance.

I set up the TimescaleDB cluster via the console of Timescale Cloud and I haven't made any configuration changes to the database itself. As for the Prometheus-Promscale cluster we are running [Prometheus Operator](https://github.co

[2021-01-18 15:13] #255 closed

[2021-01-18 15:13] #426 closed

[2021-01-19 18:31] Harkishen-Singh opened #432 "Add docs for config file for configuring Promscale"
The PR #383 adds support for configuring Promscale through config file instead of just the CLI flags. This should be documented.

[2021-01-19 19:04] cevian commented on #427
For those following the issue: we assume that this issue is because of a bottleneck in the db for some reason. But we don't know for sure. We will be investigating in the next few days

[2021-01-20 14:21] k-rus opened #436 "Parser error on TimescaleDB extension when installed from source"
When TimescaleDB is built from source it might contain versions, which don't follow semver. For example, I built master and 1.7.x branches and installed them, and as result the extension versions are:
[code]
This results in a parser error when I try to run a test:
[code]
In my case I was running local installation of TimescaleDB from source and tried to reproduce an issue according https://github.

[2021-01-20 17:07] jnadler opened #437 "Cache Metrics Should Be Gauges"
Promscale exposes metrics for the number of cached metric names and labels.   These are currently counters, but should probably be gauges:

https://github.com/timescale/promscale/blob/f6a700b19f78be5f1499567a7d98028475e7a64f/pkg/pgclient/metrics.go#L25

https://github.com/timescale/promscale/blob/f6a700b19f78be5f1499567a7d98028475e7a64f/pkg/pgclient/metrics.go#L41

[2021-01-20 17:08] jnadler commented on #437
i'm happy to PR this if you all agree

[2021-01-20 18:36] cevian commented on #436
mock-broken is not a valid semver version. This only comes up if you have a dev version of timescaledb installed. But we should make exceptions for these

[2021-01-20 18:39] cevian opened #439 "Fix query metric emitted by promscale."
Some metrics may only reflect the remote_read path but not the promql endpoint path. We should fix this.

example metric: ReceivedQueries

Originally reported by @jnadler

[2021-01-21 08:59] oleotiger opened #441 "Problem accepting data from netdata"
Promscale is metioned to be an excellent adapter for prometheus remote write to timescaledb in netdata document. When I use timescaledb as database to store metrics through promscale, I get error message like:
[code]

How could I debug this error?

[2021-01-21 09:45] k-rus commented on #436
@cevian Thank you for checking. So I incorrectly identified the version, which caused the parser error. The list of version of timescaledb when I install from source:
[code]
My apology for the confusion. I will update my issue.

[2021-01-21 16:21] cevian commented on #441
@oleotiger this error implies that netdata isn't sending a `"Content-Type": "application/x-protobuf"` header. Can you point me to the netdata prometheus remote_write sending code?

[2021-01-21 16:31] cevian opened #442 "Put in options for query timing tracking"
We should have a few options:
- cli option to print timing of queries to the log + sql executed (timing broken up into entire query time; and sql database fetch time)
- api endpoint option to turn on timing for a particular query (printed to log)
- api endpoint option to print the SQL executed for a particular query to log
- api endpoint option to execute `explain analyze verbose`  of the sql quer

[2021-01-21 16:41] cevian opened #443 "Need to support TS_PROM_INSTALL_TIMESCALEDB = false in read only mode"
Now only supports TS_PROM_INSTALL_TIMESCALEDB being unset

https://timescaledb.slack.com/archives/C011FC0PPC5/p1609876325060700

[2021-01-21 16:43] cevian opened #444 "need better error message when schema not upgraded (and failure) due to lease not being obtained"
https://timescaledb.slack.com/archives/C011FC0PPC5/p1609876325060700

[2021-01-22 05:13] nethsix commented on #391
If possible the benchmarks should include query performance, e.g., extraction 1000 time-series that matches 2 labels over 6 hour time range with start/end time of 2021-01-01 00:00:00 to 2021-01-05 00:00:00.

[2021-01-22 13:26] franck102 commented on #419
While we are here, is it normal to have 2 background jobs scheduled for execute_maintenance?

[code]

Installation is through the timescaledb-single and promscale helm charts:
Image:         timescaledev/timescaledb-ha:pg12-ts2.0-latest
Image:         timescale/promscale:0.1.4

[2021-01-22 13:33] franck102 commented on #419
Found this in the logs, the 2 identical jobs seem intentional, and it looks like the error simply happens when there is nothing to do:
[code]

[2021-01-25 06:07] mitchellmaler commented on #370
I am curious on how this differs from today using remove_write, where if Prometheus crashed that promscale would not get the data. Reading the WAL would give you the most us to date data up to the point of Prometheus stopped and in that case it is up to the user to make sure they have it deployed HA so it can tolerate crashes.

Using https://github.com/prometheus/prometheus/tree/master/tsdb/wal yo

[2021-01-25 07:43] XiaoyuZhann opened #448 "dial error (dial tcp 127.0.0.1:5432: connect: connection refused)"
`level=error ts=2021-01-25T07:37:06.957Z caller=runner.go:110 msg="aborting startup due to error" err="failed to connect to 'host=localhost user=postgres database=timescale': dial error (dial tcp 127.0.0.1:5432: connect: connection refused)"
level=info ts=2021-01-25T07:37:20.435Z caller=runner.go:103 msg="Version:0.1.1; Commit Hash: "
level=info ts=2021-01-25T07:37:20.435Z caller=runner.go:104 con

[2021-01-25 11:30] VineethReddy02 commented on #448
Hi @XiaoyuZhann
Do you mind sharing the above docker-compose file with the correct indentation? To try out your setup.  Also, the issue looks like a problem in your configuration as `Promscale` couldn't reach `TimescaleDB`. So can you re-verify the network configuration?

[2021-01-25 14:12] Harkishen-Singh commented on #437
@jnadler thank you for pointing this out. We would be happy to receive PR from you. Thank you very much.

[2021-01-26 07:30] XiaoyuZhann commented on #448
version: '3.0'

services:
  timescaledb:
    container_name: timescaledb
    image: timescaledev/promscale-extension:latest-pg12
    ports:
      - 5432:5432/tcp
    environment:
      POSTGRES_PASSWORD: password
      POSTGRES_USER: postgres
      POSTGRES_DB: timescale
    networks:
      prometheus_environment:
        ipv4_address: 172.20.0.2
        aliases:
          - timescaledb

  prometh

[2021-01-26 07:37] XiaoyuZhann commented on #448
Sorry, I uploaded the file, you can help me see

[2021-01-26 07:40] XiaoyuZhann commented on #448
Sorry, I uploaded the file, you can help me see

[2021-01-26 07:56] #448 closed

[2021-01-26 14:55] cevian commented on #419
@franck102 Thanks for reporting this. We will aim to fix this in next release

[2021-01-26 14:57] cevian commented on #409
@htsoi-boto can you verify that this Vineeth's suggestion fixed your error

[2021-01-26 17:04] #351 closed

[2021-01-27 01:11] oleotiger commented on #441
This is how I set netdata export:
[code]

And how I start promscale:`./promscale -db-user postgres -db-name netdata -db-password xxx --db-ssl-mode allow -db-port 5432 -db-host 127.0.0.1`

I didn't get what you mean by 'the netdata prometheus remote_write sending code'. The source code or the metrics send by netdata?

If source code, netdata is an open-source project in github which collect metrics

[2021-01-27 17:29] DMOsipov opened #454 "prom_api.execute_maintenance - cannot update/delete rows from chunk "_hyper_29_146874_chunk" as it is compressed"
I've set up retention period for metric to 30 days.
When I try to execute maintenance, the ERROR occurres (see below).
I've copied the SQL query mentioned in the error message and tried to execute that SQL directly - and got the same error.

_hyper_29_146874_chunk - is the chunk of hypertable **prom_data**.node_network_receive_frame_total (prom_data, not prom_data_series)
I have no idea why Timesc

[2021-01-27 23:18] cevian commented on #437
Thanks!

[2021-01-27 23:18] #437 closed

[2021-01-28 15:44] Harkishen-Singh commented on #454
Hey @DMOsipov, thank you for opening this issue. This is a bug on our side and is in our notice. We hope to release a fix for this soon.

[2021-01-28 22:07] Samaaraam opened #460 "ARM docker image"
I'm using promscale in a AMD machine and wanted to run in in a ARM machine too but I couldn't find an ARM docker image,

[2021-01-29 04:53] #436 closed

[2021-01-29 17:34] #439 closed

[2021-01-30 01:03] oleotiger opened #464 "How to set retention period to infinite?"
As described in [Data Model Schema](https://github.com/timescale/promscale/blob/master/docs/sql_schema.md), I can change retention period to 180 days with `SELECT set_default_retention_period(180 * INTERVAL '1 day')`.

What value can I set if retention period is infinite? -1?

[2021-02-01 03:46] #444 closed

[2021-02-01 13:07] callrua opened #467 ""failed to connect to `host=localhost user=postgres database=timescale`: dial error (dial tcp 127.0.0.1:5432: connect: connection refused)""
[docker-compose.yml.txt](https://github.com/timescale/promscale/files/5904888/docker-compose.yml.txt)
[code]

Seeing the above when attempting to spin up timescaledev/promscale-extension:latest-ts1-pg12 and timescale/promscale:latest.
Tried to get around the race-condition with 'restart: on-failure' and have -db-ssl-mode=allow set. Connecting to the database looks OK, so don't think it's a network

[2021-02-01 16:16] callrua opened #468 "docker-compose restart policy not being picked up?"
In the example docker-compose.yml file, the promscale container has a restart: on-failure:

[code]

But, it doesn't seem to being invoked when the container bombs out

[code]

It does come up when I run another docker-compose up:

[code]

So the race condition mentioned in #241 & #228 is happening, but not being protected against with this restart option.

[2021-02-01 16:17] callrua commented on #467
Looks like I am just hitting the race condition and there's an issue with the restart on-failure taking effect, #468

[2021-02-01 19:31] #443 closed

[2021-02-01 22:18] #413 closed

[2021-02-01 22:47] cevian commented on #454
Hi @DMOsipov, this looks a lot like a bug in timescaledb that was previously fixed in the following PR https://github.com/timescale/timescaledb/pull/2092 . That should have been included in timescaledb 1.7.3. What version of TimescaleDB are you running?

[2021-02-01 22:56] cevian commented on #460
I believe there is a community image provided here https://hub.docker.com/r/fibbsanton/promscale/tags?page=1&ordering=last_updated

We'll look into creating an official one for the next release

[2021-02-01 23:00] cevian commented on #441
FYI this was fixed by netdata https://github.com/netdata/netdata/pull/10560. Thank you @oleotiger for reporting this issue to them.

[2021-02-01 23:00] #441 closed

[2021-02-01 23:53] cevian commented on #464
We don't have an infinite setting right now. would something like `SELECT prom_api.set_default_retention_period(INTERVAL '10000 years')` not work for you?

[2021-02-02 02:00] VineethReddy02 opened #472 "Expose prom-migrator version"
While using prom-migrator. I do not see any version in prom-migrator.

Exposing the current prom-migrator version would be great to understand issues faced by the users in a specific version.

Suggestions:
1. Log version on migration startup.
2. Also, add a version flag or CMD i.e `./prom-migrator --version` or `./prom-migrator version` which exposes the version of prom-migrator.

[2021-02-02 08:12] oleotiger commented on #464
Yeah,it works for me. Hahahaha

[2021-02-02 09:43] Harkishen-Singh commented on #129
if we do `promscale -h`, we already get to know the version at the last line. So, not sure why we need this. Anyways, a `version` flag is common among binaries.

[2021-02-02 10:32] VineethReddy02 commented on #467
Hi @callrua

There few issues in the `docker-compose` file you shared

1. In Promscale env variables `PROMSCALE_DB_HOST` is set to `localhost` in containers `localhost` points to local network of that container where DB i.e. TimescaleDB is not available this needs to be changed to `timescale_db` the service name of TimescaleDB as you defined in compose file.
2. By default Promscale tries to use th

[2021-02-02 10:40] callrua commented on #467
Hey @VineethReddy02,

Thanks for taking a look at the compose file!

1) I noticed this too and have corrected it to match the container name.
2) Good to know.
3) Will remove the command for this.

After correcting 1) I am still seeing the issue with the container failing to start - I do suspect it's the race condition that has been mentioned in this repo before. I raised #468 for that - essentiall

[2021-02-02 10:40] #467 closed

[2021-02-02 10:49] VineethReddy02 commented on #468
Hi, @callrua can you share the logs of `Promscale` here? And if possible would like to see logs of complete `docker-compose up`

[2021-02-02 10:57] VineethReddy02 commented on #467
I don't think it's the race condition. I personally use `docker-compose` very often never faced this issue in the past. Did you update database name to `postgres` as mentioned in point 2 of my previous comment?

[2021-02-02 11:03] callrua commented on #467
Yep, I did.

[code]

[code]

[2021-02-02 11:08] callrua commented on #467
Yep, I updated the db_name to postgres:

[code]

Does the POSTGRES_DB variable on timescale_db container being set to timescale cause a conflict there?

[2021-02-02 11:10] callrua commented on #467
[code]

[code]

[code]

[code]

[code]

[code]

[code]

[2021-02-02 11:16] callrua commented on #468
Hey,

Sure thing - just to be clear I am using the example docker-compose.yml for this issue. #467 is my custom one.

[code]

[code]

[code]

[code]

[code]

[code]

[code]

[code]

[2021-02-02 14:55] #129 closed

[2021-02-02 15:49] #368 closed

[2021-02-02 16:10] #409 closed

[2021-02-02 16:44] DMOsipov commented on #454
Hi @cevian,

The error occured on TimescaleDB 1.7.2.
I upgraded to 1.7.4 after your comment, and the problem went away.
Thanks a lot for your kind support.

[2021-02-02 16:44] #454 closed

[2021-02-02 16:57] htsoi-boto commented on #409
sorry for the delay. this now works with the latest pull and docker-compose from here:
https://raw.githubusercontent.com/timescale/promscale/master/build/docker-compose.yml

[2021-02-02 18:26] VineethReddy02 commented on #468
Hi @callrua

The logs indicate Promscale is running successfully. As tail logs are of Promscale are

[code]

Also, the restart is working fine as you can see

First Promscale crash as TimescaleDB is not available yet

[code]

On the restart, it is running successfully with following logs

[code]

The above logs are taken from your previous comment. In my understanding Promscale is running successf

[2021-02-02 18:52] callrua commented on #468
Hey @VineethReddy02,

I agree Promscale is running successfully & crashing because TimescaleDB isn't available, but the problem here is it isn't restarting automatically, I am manually restarting it with a 'pod-up' (just an alias for docker-compose up -d) as shown in my previous comment.

If you like I can leave the manual restart for a few minutes to confirm it doesn't restart itself?

Cheers,
Ru

[2021-02-02 22:22] #419 closed

[2021-02-03 03:34] oleotiger opened #479 "Too many open file"
When exporting metrics of netdata with promscale (time interval = 1s), I got errors `too many open file`.

There are 8 nodes exporting metrics with prometheus remote write with promscale to timescaledb. And metrics are collected and exported at 1Hz at all nodes.

Promscale works well for a while and errors occur.

I find the process and count fd of promscale. It's 1025.

`ulimit -a` shows
[code]

[2021-02-03 07:15] #211 closed

[2021-02-03 09:21] patstrom commented on #427
Any update on this?

[2021-02-03 09:40] Harkishen-Singh commented on #427
@patstrom , could you confirm if there is proper connectivity between Prometheus-Promscale pair and Timescale cloud?

I feel the reason of such high memory usage is that Promscale may not be able to reach Timescale cloud easily, leading to fall back in Prometheus and hence the Prometheus shard queues have data filled in memory for hours, which is probably the reason behind high memory usage.

[2021-02-03 09:45] patstrom commented on #427
What would constitute "proper connectivity"? I set it up using the VPC Peering provided by Timescale Cloud and it does insert metrics into Postgres. I assumed that would be enough.

[2021-02-03 09:50] Harkishen-Singh commented on #427
Does Prometheus logs contain words like `resharding...` or `retrying..`?

[2021-02-03 11:10] patstrom commented on #427
No. The Promscale connector printed lots of "duplicate data in sample" and the Prometheus container printed lots like so:

[code]

for a while an then eventually the promscale connector would be reachable again and it prints

[code]

If you provide me with an email address I can send you all the logs from all containers during the test run.

[2021-02-03 11:55] VineethReddy02 commented on #468
Hi @callrua

I am using the `docker-compose` file shared by you [here ](https://github.com/timescale/promscale/issues/468#issuecomment-771563842) it works fine for me. The Promscale startsup on the first run without any restarts as TimescaleDB is available.

Promscale logs from `docker-compose up`

[code]

List of running containers:

[code]

As you mentioned the issue is Promscale is not restarti

[2021-02-03 12:26] Harkishen-Singh commented on #427
Do your exporters expose timestamps as well? if yes, then, would you mind saying if the value of `honor_timestamps` in prometheus config file.

The deadline might have been exceeded due to logging (behaviour of logging is blocking). This has been fixed now and the release `0.1.5` (would be out soon) has the fix. But anyways, could you try increasing the deadline to `30s` or so and see if it helps?

[2021-02-03 13:39] callrua commented on #468
Hey @VineethReddy02,

Appreciate you taking the time to look at that, I'll take a look at my environment and see if it's related to that.

Cheers,
Ruairi

[2021-02-03 13:39] #468 closed

[2021-02-03 14:23] patstrom commented on #427
I just sent you an email with the logs!

Prometheus-Operator generates the prometheus config file so I am unsure. I haven't specified anything so I assume it is still the default value.

[2021-02-03 15:18] Harkishen-Singh commented on #427
Thank you for the mail.
I will take a look and try to replicate the same shortly. I will get back to you if something else is required or if something comes out of the investigation.

[2021-02-03 17:31] phebous commented on #387
Cevian,

I like the latest version.  It now recovers database closures on the standby instance.  However, the leader still has a problem and would require a bounce before it will take over a role.

[2021-02-04 03:34] cevian commented on #225
should be fixed and tested in #477

[2021-02-04 03:34] #225 closed

[2021-02-04 03:35] cevian commented on #216
docker compose now tested in #477

[2021-02-04 03:35] #216 closed

[2021-02-04 03:38] cevian commented on #217
The docker compose has been fixed and tested in #477

[2021-02-04 03:38] #217 closed

[2021-02-05 09:56] franck102 commented on #363
We would love to see this, we need the metric type to automate aggregation in Timescale.
We also need it to properly deal with counter resets for counters.

Currently we have a dedicated process looking up the metric types from Prometheus and injecting them into timescale.

[2021-02-08 15:46] #460 closed

[2021-02-08 17:36] #346 closed

[2021-02-09 14:00] heigumjo commented on #371
Hi,
just want to inform you of a dirty fix that seem to work in case that helps in any way.

We are experiencing this issues as well. I have tried omitting various metrics to no avail. We have tried running timescale both internally and in a separate vm. Currently running timescale in a vm external from the cluster.

The cluster is small (3 vms, 60 ish pods running at any given time)

What we have

[2021-02-09 16:54] Harkishen-Singh commented on #371
@heigumjo, just wanted to inform you that the release 0.2.0 solves for too much logging. I don't know about exits but we prevent duplicate data in the table at all cost. So, if there are gaps, then I guess it is a duplicate and maybe, you may check if honor_timestamps is false or not.

[2021-02-09 20:02] heigumjo commented on #371
@Harkishen-Singh I'll upgrade later this week and give it a try, thanks for the tip.

[2021-02-10 17:33] Harkishen-Singh commented on #371
@jmvizcainoio can you please try to use the release 0.2.0 and see whether issues are still being faced? We did fix too much duplicate logging issue.

[2021-02-10 17:37] Harkishen-Singh commented on #464
Closing this.

[2021-02-10 17:37] #464 closed

[2021-02-10 17:42] Harkishen-Singh commented on #370
WALs are flushed at a regular interval. If Prometheus comes down before that, then it will lose the data again. Remote-write works using wal reader, which means, as soon as a segment is written, it is streamed. This means that both have almost similar chances of loosing data and its amount.

I agree, this has some advantages as well (low mem usage). Would be definitely good to have once we have th

[2021-02-10 18:36] cevian commented on #479
In general golang programs tend to use a lot of fds. This isn't an issue on modern systems. But we will look more into whether it's possible to reduce this

[2021-02-10 18:38] cevian opened #489 "Automatically run script on extension upgrade"
Right now we have to tell people to run a script after timescaledb 1.x->2.x update. Would be nice to automate this.

You should run `SELECT remove_compression_policy(format('prom_data.%I', table_name), if_exists=>true) FROM _prom_catalog.metric;` after the upgrade. This cleans up the old way of running compression jobs, compression will still work (just in the new way).

[2021-02-10 19:16] wilfriedroset commented on #366
Thank you for this, I will definitively tests those settings. In the meantime, would it be a useful information at the bottom of the [README](https://github.com/timescale/promscale/blob/master/README.md#configuring-prometheus-to-filter-which-metrics-are-sent-optional) as there is already an example and like to newly create file for more information?

Something like this or with the optional lines

[2021-02-14 20:27] mrMoe commented on #460
Hi. This seems to be only an arm64 image. Is there any change you'd provide an normal arm v6 or v7 image like timescaledb?

[2021-02-15 09:43] deathwarrior60 opened #493 "Implement a way to rename ingested metric"
Hello,

We added a metrics with the wrong metric name, we put "my.awesome.metric{}" instead of "my_awesome_metrics{}".

Is there any ways in timescale to rename "my.awesome.metric" in "my_awesome_metrics" ? so we won't loose all data that were already sent with the wrong metric name.

If it is not possible,  is there a way to simply delete "my.awesome.metric" (delete all views, table, ...) ?

Rega

[2021-02-16 09:10] Harkishen-Singh commented on #493
Hey @deathwarrior60, as of now, if you rename via SQL, there would be inconsistency with Promscale cache and the SQL db. But you can always delete the metric using the delete API. Please refer [here](https://github.com/timescale/promscale/blob/master/docs/metric_deletion_retention.md#deleting-data) for more information.

Maybe, renaming a metric can be a feature addition. I will put a label for th

[2021-02-16 14:21] deathwarrior60 opened #494 "Deleting a metrics via HTTP API"
Hello,

I followed this [doc ](https://github.com/timescale/promscale/blob/master/docs/metric_deletion_retention.md#deleting-data) to delete a metric.
But only the data have been removed from timescale.
Is there a way to also suppress all tables and views for that metric ?

Regards

[2021-02-16 14:25] deathwarrior60 opened #495 "Implement execute_maintenance through Promscale API?"
Hello,

Is there a way to call execute_maintenance through the promscale http API instead of having to make a db connection to timescale ?

Regards

[2021-02-16 16:37] deathwarrior60 opened #496 "Promscale HA needed when only making remote write"
Hello,

I have 4 prometheus having the same data. Each prometheus have a promscale instance.
My prometheus only write in promescale.
So since I have 4 promescale write the data in timescale, they find duplicate and they don't insert it.
` caller=duplicates.go:36 msg="duplicate data in sample" total-duplicate-metrics=2260`

To this point everything works fine, and works like I want it.

So my quest

[2021-02-17 06:57] Harkishen-Singh commented on #496
Hey @deathwarrior60

Running multiple Promscales with duplicate data will work fine, but it can increase the load on the DB since the data being inserted is already present in the DB, so the insert query is still being performed even if you have data. This may bottleneck the DB in extreme cases. Please note that Promscale protects your data from duplicate inserts.

Setting up HA will prevent this,

[2021-02-17 06:59] Harkishen-Singh commented on #495
Right now there isn't any such way, but implementing it should be pretty simple.
Please note that TimescaleDB 2.0 does not require this. It handles the maintenance without the need of cronjobs.

[2021-02-17 07:02] Harkishen-Singh commented on #494
This PR takes care of that. https://github.com/timescale/promscale/pull/420 (You can run those SQL queries from the PR if its urgent for you).

However, I think the delete HTTP API of Promscale should take care of this as well. Marking this as TODO.

[2021-02-17 12:55] deathwarrior60 commented on #496
Thanks for this clear anwser.

Regards

[2021-02-17 12:55] #496 closed

[2021-02-17 14:11] deathwarrior60 opened #497 "Replace existing value in timescale"
Hello,

Is there a way to replace an existing value in timescale ?

Use case :
Every 5 minutes, we compute the value of several metrics for the current day and we want to store it by day.
For example : we are the 2021-02-17 at 15h00.
So we sum all the data of metric1, metric2, metric3 from the 2021-02-17 at 00h00 to the 2021-02-17 at 15h00 and send the result to promscale : 2021-02-17T00:00:00.000

[2021-02-18 12:21] XiaoyuZhann opened #500 "Promscale setting PROMSCALE_DB_HOST in docker-compse is invalid, it is still localhost"
![image](https://user-images.githubusercontent.com/38707400/108356109-a9eae780-7226-11eb-91cd-a183edfffe03.png)
![image](https://user-images.githubusercontent.com/38707400/108356163-c129d500-7226-11eb-964a-8761750414f6.png)
![image](https://user-images.githubusercontent.com/38707400/108356202-d0108780-7226-11eb-81de-bf29fa814fbf.png)

[2021-02-19 01:01] cevian commented on #497
That is currently not possible but we will keep this open as a feature request.

[2021-02-19 11:01] wilfriedroset commented on #366
Stumble upon the following resource: https://www.alibabacloud.com/help/doc-detail/114516.htm
The interesting part is the table showing the relation between `write data points/second` and `reference configuration`
Such table could be extremely useful when deploying promscale

[2021-02-22 09:29] franck102 opened #506 "Maintenance job fails with SQL Error [53400]: ERROR: temporary file size exceeds temp_file_limit"
**Relevant system information:**
 - OS: Amazon linux 2
 -
 With Postgresql 12 and those extensions:

extname    |extowner|extnamespace|extrelocatable|extversion
-----------|--------|------------|--------------|----------
plpgsql    |      10|          11|false         |1.0
promscale  |      10|       17523|false         |0.1.1
timescaledb|      10|        2200|false         |2.0.0
and PromScale 0.

[2021-02-24 22:04] cevian commented on #500
@VineethReddy02 can you please take a look?

[2021-02-24 22:12] cevian commented on #506
@franck102 can you see if the following works - note the "LIMIT 10000" (probably try in a txn and rollback ?)
[code]

[2021-02-24 22:15] cevian commented on #506
also can you provide the explain for the failing query?

[2021-02-24 22:16] cevian commented on #506
One last thing: try running `analyze;`

[2021-02-25 04:17] VineethReddy02 commented on #500
Hi @XiaoyuZhann
The logs of the Promscale say that you are using the Promscale version as **0.1.1**. This version is very old, IN Promscale 0.1.1 we do not support env variables as **PROMSCALE_*** this was introduced in Promscale version 0.1.4 (more precisely here is the [0.1.4 release changelog](https://github.com/timescale/promscale/releases/tag/0.1.4))

Please update the Promscale version to th

[2021-03-07 07:08] franck102 commented on #506
@cevian i will do that but it will take a little while, we patched systems to avoid the issue for now.

[2021-03-07 18:55] Alaith commented on #371
Hello,
With the latest updates I am no longer experiencing this issue. Thank you for the fix!

[2021-03-08 07:40] mjf opened #518 "Handling of encoding errors from PostgreSQL"
*Promscale* should at least ignore errors from *PostgreSQL* or otherwise handle the cases when `NUL` (`0x00`) character is obtained from *Prometheus*. *Prometheus* accepts `NUL`s and stores them in its *WAL*. When you are in need to backfill data from the *Prometheus* *WAL* using *Prom-migrator*, *Promscale* dies providing the corresponding *PostgreSQL* error (i.e. `ERROR: invalid byte sequence fo

[2021-03-08 11:26] #371 closed

[2021-03-10 12:45] hserna74 opened #522 "Missing SQLs files under extension folder"
Hello

I've got some problems trying to execute promscale

I've installed on CentOS 7.7 the next packages

timescaledb-tools-0.11.0-0.el7.x86_64
timescaledb-2-loader-postgresql-13-2.1.0-0.el7.x86_64
timescaledb-2-oss-postgresql-13-2.1.0-0.el7.x86_64
postgresql13-13.2-1PGDG.rhel7.x86_64
postgresql13-server-13.2-1PGDG.rhel7.x86_64
postgresql13-libs-13.2-1PGDG.rhel7.x86_64

The response when I execut

[2021-03-11 03:25] cevian commented on #522
Release 0.2.1 should fix this issue. Please let us know if it did.

[2021-03-11 07:34] hserna74 commented on #522
Confirmed that the issue has been fixed.

Thanks

[2021-03-11 07:34] #522 closed

[2021-03-11 11:01] Pizzahd88 opened #528 "timescale/promscale:latest docker image is not version 0.2.1 but 0.2.0"
After your release 8 hours ago I want to update to be able to use the newer timescaleDB 2.1.0.

I have tried to pull the promscale docker by the command: 'docker pull timescale/promscale:latest'
It resulted in the docker image running 0.2.0.
I have tried to pull the promscale docker by the command: 'docker pull timescale/promscale:0.2'
It resulted in the docker image running 0.2.0.

If I run the c

[2021-03-16 20:00] slavitch commented on #528
I have the same issue.  I replaced the contents in docker-compose as shown:

  promscale:
    image: timescale/promscale:0.2.1
    ports:
      - 9201:9201/tcp
#    build:
#      context: .
    restart: on-failure
    depends_on:
      - db
      - prometheus
    environment:
      PROMSCALE_DB_CONNECT_RETRIES: 10
      PROMSCALE_WEB_TELEMETRY_PATH: /metrics-text
      PROMSCALE_DB_URI: postgres:/

[2021-03-18 18:36] VineethReddy02 commented on #528
Thanks for reporting this. We are looking into this issue.

[2021-03-19 11:53] iwctwbai opened #538 "It takes less time to read remotely through Prometheus than through a connector"
<img width="468" alt="截屏2021-03-19 20 52 26" src="https://user-images.githubusercontent.com/48517790/111783435-31467c00-88f5-11eb-8246-ddfebefbbf9d.png">

Prometheus port is 9090

The connector port is 9201

But strangely enough, it takes less time to get through port 9090 than port 9021

Prometheus' remote reading will return the original data and Prometheus will do the final aggregation. Why is

[2021-03-19 13:00] iwctwbai commented on #538
<img width="468" alt="截屏2021-03-19 20 52 26" src="https://user-images.githubusercontent.com/48517790/111783435-31467c00-88f5-11eb-8246-ddfebefbbf9d.png">
I found it
Prometheus port is 9090
The connector port is 9201
But strangely enough, it takes less time to get through port 9090 than port 9021
Prometheus' remote reading will return the original data and Prometheus will do the final aggregation.

[2021-03-19 13:34] iwctwbai opened #540 "Do not support the "|" operator"
[code]
**No data returned**

[code]
Return the data
[code]
Return the data

[2021-03-20 01:42] randombk opened #542 "Add or clarify support for TimescaleDB 2.1.0 on Postgres 13"
It looks like Promscale [does not support Postgres 13](https://github.com/timescale/promscale/blob/e7f50e2345301e1be77fa3e34c9359742e254f27/pkg/version/version.go#L45), failing with the error when connecting to a database using the official docker image `timescale/timescaledb:2.1.0-pg13`:

[code]

This lack of support should either be addressed or mentioned in the README. Thanks!

[2021-03-22 09:28] Pizzahd88 commented on #542
Unfortunately I too realized that only pg12 were supported too late. It would have been nice to know it up front before upgrading the entire setup.

[2021-03-22 09:29] #528 closed

[2021-03-22 09:29] Pizzahd88 commented on #528
This has been solved in the latest Docker version.

[2021-03-22 16:26] Harkishen-Singh commented on #540
@iwctwbai I don't think that's any unintentional behaviour. If you want to use a pipe, then it should be a regex expression.

Like: `ifHCInOctets{instance=~"0.0.0.0|121.31.23.11}`

[2021-03-23 08:38] sammy-da commented on #64
Hello!

I have the exact same problem.
I need a read-only prometheus hooked up to TSDB, which I'll be attaching an Alert Manager to.

Other prometheus instances are writing to TSDB, and I can see the metrics in it.
I even see the metrics if I curl the `/read` endpoint of promscale manually.

The read-only Prometheus, on the other hand, is failing to read.
It returns `{"status":"success","data":{"r

[2021-03-24 01:58] iwctwbai commented on #540
This was not detected in the 100% compatibility test, but promQL is supported
You said this I remember testing is also not good
Now I'm using this scheme
[code]
It looks tedious

[2021-03-24 02:03] iwctwbai commented on #538
@Harkishen-Singh

[2021-03-24 02:37] Harkishen-Singh commented on #540
@iwctwbai sorry, I do not understand here. Is the behaviour of PromQL evaluation something different than that of Prometheus's PromQL engine?

[2021-03-24 02:41] Harkishen-Singh commented on #538
@iwctwbai do you have read_recent enabled in Prometheus?

(Just to solve the speed thing. Will Investigate if Promscale is slow or not)

[2021-03-24 06:38] iwctwbai commented on #538
@Harkishen-Singh
I've already enabled it
The results should be very fast after aggregation,Look forward to your survey results.

[2021-03-24 06:45] iwctwbai commented on #540
@Harkishen-Singh
Maybe I'm not making myself clear
Prometheus's PromQL engine can parse ''' ifHCInOctets{instance="0.0.0.0|121.31.23.11"} ''' , but promscale is not.

[2021-03-24 06:49] iwctwbai commented on #540
I got around this problem with regular expressions（''' ifHCInOctets{instance=~"^0.0.0.0$|^121.31.23.11$"}  '''）, but it's obviously not a good solution

[2021-03-24 07:02] Harkishen-Singh commented on #540
@iwctwbai
I tried parsing ` ifHCInOctets{instance="0.0.0.0|121.31.23.11"}` on Promscale's latest master commit and its showing me no errors. The same is true for Prometheus. Can you please tell your Promscale version (also Prometheus for better info)? Maybe this was some previous issue that was later fixed.

[2021-03-24 07:04] Harkishen-Singh commented on #540
Ah, i see that you are able to parse as well, its that the data is not being returned. Can you tell me which exporter is this so that I can replicate this issue on my side?

[2021-03-24 09:25] niconosenzo commented on #472
Hi @VineethReddy02 , I'm wondering if it should match the `promscale` cli pattern of printing out the version when no argument is passed, or it should implement the `--version` flag.

[2021-03-24 09:26] niconosenzo commented on #472
/assign niconosenzo

[2021-03-24 13:51] antekresic commented on #57
This issue has been resolved by TOBS.

[2021-03-24 13:51] #57 closed

[2021-03-25 02:24] iwctwbai commented on #540
@Harkishen-Singh
https://github.com/prometheus/snmp_exporter
Thank you very much

[2021-03-26 06:25] iwctwbai commented on #538
Did you find the problem @Harkishen-Singh

[2021-03-26 06:41] Harkishen-Singh commented on #538
@iwctwbai I haven't had the chance to look into it. I will take a look soon and update it here, by this week or early next week. Really sorry for keeping you waiting.

[2021-03-28 07:39] iwctwbai commented on #538
thank you @Harkishen-Singh

[2021-03-28 09:34] Harkishen-Singh commented on #538
@iwctwbai I couldn't get any slowness (infact for me, Promscale was faster by few milliseconds).

Can you re-run that query using promtool?

Example:

For Prometheus
[code]

For Promscale
[code]

You can download promtool for Prometheus releases page. Please paste the value of  real in something like `real    0m0.100s`.

[2021-03-29 09:24] iwctwbai opened #549 "How to execute execute_maintenance();"
Is there a detailed tutorial？
thank you!

[2021-03-29 09:37] iwctwbai commented on #538
@Harkishen-Singh
Small data may not yield results

I think as opposed to Prometheus returning the raw data to the client for aggregation

In the case of big data, Promscale method of returning aggregate results directly should be much faster than Prometheus's

[2021-03-29 11:34] Harkishen-Singh commented on #538
@iwctwbai yes that is true. Aggregations on our side should be fast (using push downs) but right now we do not have that enabled for all prom aggregation functions. This is a todo task and in near future, we will implement this. Right now, only delta has pushdowns support. This is the reason why it's almost same. In the slow ones should not be true as they are probably noise, which happens on prom

[2021-03-29 12:35] lkashiwa opened #553 "Authentication for Remote write is parsed but not processed with prom-migrator"
When migrating Prometheus to InfluxDB or Cortex with Authentication needed, the parameters are read and parsed but config ignores that.

~/prom-migrator$ ./prom-migrator -mint=1616997627 -progress-enabled=false -read-url=http://localhost:9090/api/v1/read -write-url=https://xxxxx/write -write-auth-username=xxxx -write-auth-password=yyyyyyy
level=info ts=2021-03-29T10:46:20.158Z caller=main.go:60 ms

[2021-03-29 13:53] cevian commented on #518
This should be fixed in #530 . WIll be in next (0.3.0) release

[2021-03-29 20:11] grzesuav commented on #553
Fixed in https://github.com/timescale/promscale/pull/555

[2021-03-30 08:32] iwctwbai opened #556 "dial tcp x.x.x.x:5432: connect: no route to host"
[code]

[code]

[code]

[2021-03-30 08:53] Harkishen-Singh commented on #540
@iwctwbai I tried reproducing this issue, by creating a new metric that has a `|` in the label value and then querying as normal equal matcher with the pipe. It works for me as I get the results with the pipe as well, even though the matcher is just EQL. So this means I am unable to reproduce this issue.

Can you tell me which Promscale version are you using?

[2021-03-30 09:00] Harkishen-Singh commented on #556
This is strange. Can you manually supply the timescaledb1234's host to the `-db-host`?

For getting host of a running docker container, this can help.
[code]

and then supply that host to promscale container.

[2021-03-30 09:10] #553 closed

[2021-03-30 09:12] Harkishen-Singh commented on #553
This should work after the merge of #555. @lkashiwa can you try again with the build from master? Feel free to re-open this issue if it still does not behave well.

[2021-03-30 09:15] Harkishen-Singh commented on #542
I think our next release (should be in a day or two) with version `0.3.0` fixes this.

Please correct me if I am wrong @cevian.

[2021-03-30 11:01] antekresic commented on #549
You can use this shell script to run the function on your DB:
https://github.com/timescale/promscale/blob/master/docs/scripts/prom-execute-maintenance.sh

Make sure to update the DB password placeholder in the file.

[2021-03-30 11:01] #549 closed

[2021-03-30 11:34] iwctwbai commented on #549
I've learned,thanks

[2021-03-30 11:35] iwctwbai commented on #556
This is a firewall problem,Thank you for your

[2021-03-30 11:36] #556 closed

[2021-03-30 11:41] iwctwbai commented on #540
version：0.21
This is weird because I'm doing it through regular expressions right now
@Harkishen-Singh

[2021-03-31 18:41] iwctwbai commented on #540
it's a query-time thing to search for either value @cevian

[2021-04-02 14:44] bobobo1618 opened #561 "Promscale + prom-migrator fails to compress chunks"
Steps to reproduce:

- Set up promscale (my particular command line is `./promscale -db-name prometheus -db-ssl-mode disable --upgrade-prerelease-extensions true`)
- Point Prometheus `remote_write` at promscale
- Run prom-migrator (my command line is `./prom-migrator -mint 1566619200 -read-url 'http://localhost:8086/api/v1/prom/read?db=prometheus' -write-url 'http://localhost:9201/write' -progress

[2021-04-02 14:47] bobobo1618 commented on #561
Ah, I see that compression is enabled: `SELECT COUNT(*), compression_enabled FROM timescaledb_information.hypertables GROUP BY compression_enabled;`

But I can't see any way to determine the interval. It's been ~48h since most of my chunks were added but this is several years of data and my disk isn't large enough to support these data uncompressed.

[2021-04-02 15:08] Harkishen-Singh commented on #561
Maybe, you can begin with `call execute_maintenance()`. This will start data compression and retention policies on existing data. (Provided you have sufficient background workers)

The manual way:

I think you can manually compress chunks that belong to a Metric table via `select compress_chunk(show_chunks('prom_data.<metric_name>'))`. This will compress all the chunks belonging to that metric hyp

[2021-04-02 16:51] bobobo1618 commented on #561
Thanks for responding!

Unfortunately no luck there. It completed but there is no apparent effect on chunk compression.

My tables are too big to do that unfortunately, the query runs out of shared memory.

I've settled with using GNU parallel to feed queries that compress individual chunks to psql. That worked.

This still leaves the problem that compression wasn't performed by default though. It

[2021-04-03 06:37] Harkishen-Singh commented on #561
I am not sure but it feels like background workers didn't do the job as they weren't fed with sufficient memory. With the shared parallel memory, that problem should resolve by itself in future.

cc @cevian

[2021-04-04 06:09] andrejpodzimek commented on #542
This is quite confusing indeed. For me the `promscale_extension` thing builds and loads and appears to be compatible with PostgreSQL 13, but `promscale` itself fails exactly as reported.

[2021-04-04 06:58] andrejpodzimek opened #562 "Non-superuser setup problems"
I have a PostgreSQL setup that serves multiple webs and other hobby projects. I’d like to use it for `promscale` as well, without running an extra PostgreSQL instance. Unfortunately, it seems that `promscale` assumes superuser privileges way too often. It also appears to assume unrestricted access to the whole cluster (instead of being constrainted to a specific database).

### It requires the `CR

[2021-04-04 07:11] andrejpodzimek opened #563 "Database URIs are interpreted incorrectly"
### The Problem

The `dbname` item in a database URI appears to be ignored. The URI looks like this:

[code]

(Side note: Yes, I do know that the SSL settings do **nothing** when combined with UNIX domain sockets (`host=/run/postgresql/`), but the setup will be moved to a separate system eventually, so I have proper client authentication ready. This is also why the `SSL off` note in log messages b

[2021-04-04 08:58] VineethReddy02 commented on #563
Hii @andrejpodzimek

The DB-URI format provided isn't correct from your end. We expect the `--db-uri` flag value to be in this format `postgres://postgres:password@localhost:5432/timescale?sslmode=require` (the PostgreSQL official db-uri formats)

However, I tried to connect to DB using the similar to the db-uri you shared it worked with a small change in dbname parameter i.e. `--db-uri postgres:/

[2021-04-04 09:44] Harkishen-Singh commented on #542
I guess we have updated the promscale_extension with PG 13 compatibility on https://github.com/timescale/promscale_extension/pull/13. Promscale is yet to be updated for PG13 and the usage with extension will happen in the upcoming release (0.3.0).

[2021-04-04 09:46] Harkishen-Singh commented on #563
@andrejpodzimek we will be releasing 0.3.0 most probably this Tuesday. The issue related to 542 will be solved with that and for 562, we will update you.

[2021-04-04 18:32] andrejpodzimek commented on #563
According to [the documentation](https://www.postgresql.org/docs/current/libpq-connect.html), the URI syntax I’m using looks correct and no less “official” than its other forms. The key statement in the documentation:

In particular, it does **not** say that the “hierarchical” part of the URI must be non-empty or that the `dbname` parameter must be in it (and not in the named parameters).

The “hi

[2021-04-04 19:01] andrejpodzimek commented on #563
Maybe I should have filed this in [jackc/pgx](https://github.com/jackc/pgx) rather than here, because the “driver” library is responsible for the URI parsing.

I think I’ve found the bug. [It’s right here.](https://github.com/jackc/pgconn/blob/5daa019e4eb52df3409ebf17c83116b7c0e827e5/config.go#L253) That named parameter is called **`dbname`, not `database`**, according to PostgreSQL’s URI specific

[2021-04-04 19:04] andrejpodzimek commented on #563
But then what is [this](https://github.com/jackc/pgconn/blob/5daa019e4eb52df3409ebf17c83116b7c0e827e5/config.go#L445-L447) and [this](https://github.com/jackc/pgconn/blob/5daa019e4eb52df3409ebf17c83116b7c0e827e5/config.go#L525-L527)? There seem to be some explicit mappings between `database` and `dbname`. Surprising.

[2021-04-04 19:11] andrejpodzimek commented on #563
So this is probably [a known issue](https://github.com/jackc/pgconn/issues/69#issuecomment-813084702) and not a timescale/promscale bug. I’ve just added a comment upstream then.

[2021-04-04 19:11] #563 closed

[2021-04-05 10:46] #538 closed

[2021-04-05 14:18] cevian commented on #561
@bobobo1618 Thanks for the report. One initial question: What version of TimescaleDB are you using?

[2021-04-05 14:22] cevian commented on #542
Yes this should be fixed in the release tomorrow. We plan to add dependency information into our release notes going forward.

[2021-04-05 17:41] #366 closed

[2021-04-05 20:29] bobobo1618 commented on #561
I'm running Git master from a few days ago: https://github.com/timescale/timescaledb/commit/5c525bbf310b1712c55f07ee0d9065534f602202

A necessity since I'm also running PG13.

[2021-04-07 14:02] Harkishen-Singh commented on #540
@iwctwbai the pipe will work only if you have a regex operator match. If you want the pipe to work without the regex, (in a EQL operator `=`) then the actual label value should have the pipe.

To confirm this, you can see the actual behaviour of prometheus at https://demo.promlens.com/

`go_goroutines{job="cadvisor|prometheus"}` gives empty result, but `go_goroutines{job=~"cadvisor|prometheus"}` g

[2021-04-08 10:57] Harkishen-Singh commented on #542
@randombk now that we have released the 0.3.0 version which supports PG13, can you please retry with the newer release and post the update here?

[2021-04-08 10:58] Harkishen-Singh commented on #562
cc @cevian

[2021-04-08 11:04] Harkishen-Singh commented on #518
@mjf the 0.3.0 is out with the fix for null chars. Can you please update the issue whether you are facing the problem in the new release as well?

[2021-04-08 19:39] andrejpodzimek commented on #562
With `0.3.0` it finally connects to PostgreSQL 13 and doesn’t fail. However, there’s yet another “non-superuser” issue (in addition to the two reported above):

[code]

I don’t understand this log message. There is exactly one Promscale database. The (tens of) other databases on the same PostgreSQL instance are none of Promscale’s business. :wink:

I have `timescaledb.max_background_workers = 16`

[2021-04-08 22:30] andrejpodzimek opened #572 "TLS certificate authentication (client-side on prom-migrator, server-side on promscale)"
My Prometheus instance uses the following `web-config.yml`:

[code]

There are public LetsEncrypt certificates for server identification, but locally issued certificates from my authority are required for client authentication. Both Grafana and a web browser (e.g. Google Chrome) can connect to Prometheus and authenticate just fine.

With `prom-migrator`, however, I’m getting this error, because th

[2021-04-08 23:17] andrejpodzimek commented on #356
I can confirm that this^^^ works for me in Grafana. For the record, for those who may stumble upon this thread later, when it says `HTTP Error Bad Request` in Grafana, you may have actually fortotten to configure basic authentication. Grafana’s error messages are rather unhelpful.

I was switching Grafana from Prometheus to Promscale and had only client certificate authentication configured (which

[2021-04-09 01:43] Harkishen-Singh commented on #572
Thank you for opening this. Yes, currently Prom-migrator does not support certificates. I still implement this in the next version.

Reason: prom-migrator is a new project and so the priority was to get the main functionality right and reliable and then focus on minute things. Now I think, it's a good time to focus on it.

[2021-04-09 10:19] Harkishen-Singh opened #574 "prom-migrator: suggestions and new features"
Following are suggestions related to prom-migrator:

1. Make timeout configurable and based on that, add the respective behaviours:
1.1. -timeout: <duration> (related to context timeout
1.2. -on-timeout: ['ext', 'fail', 'retry'] (`exit` exits the prom-migrator which is the current behaviour; `fail` drops the slab and `retry` retries the request endlessly unless -max-retries is set to non-zero)
1.3

[2021-04-09 18:59] cevian commented on #562
We'll put these issue on the plan for 0.4.0

[2021-04-09 19:03] cevian commented on #542
Closing this issue as I believe it is resolved in 0.3.0 and we have added documentation in release notes. If there are still issues, feel free to reopen the issue.

[2021-04-09 19:03] #542 closed

[2021-04-12 02:20] teochenglim commented on #356
@andrejpodzimek Good to learn that. Thank you very much!

[2021-04-12 08:20] mjf commented on #574
I would also add one feature (and corresponding option) for simple "rate limiting" so that we could limit the speed of ingestion into *PostgreSQL* that may easiily become highly overloaded by the `prom-migrator`...

There are already some options like `-max-read-size` and `-concurent-{push,pulls}` that can influence that. I propose to add

[code]

defaulting of course to `0` which would cause a `D

[2021-04-12 08:29] mjf opened #575 "Document how the Promscale SQL data are stored in the PostgreSQL database"
It would be very handy to provide us with some good **visual** representation of how exactly the *SQL* data are stored in the *PostgreSQL* database (also clarifying relations between them) so that writting complex *SQL* queries become less painful and more obvious. Thank you.

[2021-04-12 08:36] Harkishen-Singh commented on #575
Thank you for the feedback. I agree, a visual representation is something that is helpful to understand the promscale SQL arch better and will be useful in writing queries.

cc @cevian

[2021-04-12 09:08] Pizzahd88 opened #576 "timescale/promscale:latest docker image is not version 0.3.0 but 0.2.1"
Just as previous release of 0.2.1 https://github.com/timescale/promscale/issues/528

The latest docker image is version 0.2.1 instead of 0.3.0. It seems like previous version is kept in the image or something.
I cannot get docker to run the latest version 0.3.0 while using :latest it keeps using 0.2.1.

The docker package seems to contain too many files - Red arrows on the image shows files from v

[2021-04-12 09:18] Harkishen-Singh commented on #576
cc @cevian @VineethReddy02

[2021-04-12 09:22] VineethReddy02 commented on #576
We noticed a similar issue on `0.2.1` release too. @cevian fixed Promscale `:latest` image to point to the latest release.

[2021-04-12 12:17] iwctwbai opened #579 "how to query set_default_retention_period 's value"

[2021-04-12 17:30] ssube opened #580 "what is the least-necessary access for a Promscale role?"
I'm trying to run Promscale against a Timescale Forge instance using a limited, non-superuser for regular operation. What is the least-necessary set of permissions required to run the Promscale for reading and writing to metrics in the `tsdb` database?

Some details:

- these instances will always run with `-install-extensions=false -migrate=false -upgrade-extensions=false`
  - migrations will be

[2021-04-12 17:43] VineethReddy02 commented on #579
`set_default_retention_period` is to set default retention period for all the metrics. To query the same value you can use the following query:
`SELECT value FROM _prom_catalog.default where key=‘retention_period’;`

[2021-04-13 02:41] iwctwbai commented on #579
get it,thank you

[2021-04-13 02:41] #579 closed

[2021-04-13 02:46] iwctwbai opened #581 "ERROR: timestamp out of range"
[code]

[2021-04-13 02:47] Harkishen-Singh commented on #581
This seems like a bug.

cc @cevian

[2021-04-13 13:03] Jontte opened #582 "ARM64 builds are packaged with an x86_64 executable"
I'm trying to set up promscale on an arm64 platform. However it looks like arm64 docker images are shipped with an x86_64 promscale executable. Running the docker image results in exec format errors and the executable indeed seems to have the wrong arch:

[code]

[2021-04-13 13:06] Harkishen-Singh commented on #582
Thank you for reporting this.

Cc @cevian @VineethReddy02

[2021-04-14 02:22] cevian commented on #580
Working on this now. Will provide more of an answer tomorrow.

[2021-04-14 10:00] YurkinED opened #583 "Timescale fails after restart"
When first start it works properly, after restart I got an error
Seems some problem with recreating objects

[code]

[2021-04-14 11:02] YurkinED commented on #583
If change metric_compression = false, it start but run too slowly

[2021-04-14 12:24] Harkishen-Singh commented on #583
You are using apache license version of Timescaledb. That license version is temporarily broken with Promscale and will be fixed in future releases.

[2021-04-15 18:44] cevian commented on #582
@Jontte This should be fixed in #586 and `timescale/promscale:0.3.0-arm64` should also be fixed. Please let us know

[2021-04-15 19:26] cevian commented on #580
work on a fix started in #587

[2021-04-15 19:58] cevian commented on #576
Thanks, @Pizzahd88 for pointing out the issue. It is fixed now. In the future, this should be fixed by https://github.com/goreleaser/goreleaser/pull/2130.

[2021-04-15 19:58] #576 closed

[2021-04-15 20:01] cevian commented on #562
Fix started in #587

[2021-04-16 12:33] Harkishen-Singh opened #590 "Add subsystems in promscale metrics"
Currently, we just use namespace in promscale metrics. This makes it harder to know which component of promscale has which metrics and requires prior knowledge while writing expressions. We should include subsystems in our metrics to make the job of searching for metrics while querying easier.

[2021-04-16 13:40] Jontte commented on #582
I can confirm this is now fixed. Many thanks for the prompt action!

[2021-04-16 13:41] #582 closed

[2021-04-16 16:42] ssube commented on #580
Looks interesting, please let me know when you have something to test, I can give it a try.

[2021-04-16 18:49] edwmurph opened #591 "Is promscale horizontally scalable?"
README states promscale is "horizontally scalable" but it looks like promscale only enables "high availability" through leadership election? i see that the promscale sidecar improves performance by ensuring only the leader prometheus instance sends metrics to postgres. however, i interpret horizontal scalability to mean that requests can be distributed among prometheus instances so a single instan

[2021-04-16 19:51] Harkishen-Singh commented on #591
When we say horizontal scalability, I think we mean leveraging Timescaledb's multinode capabilities, unless I am wrong. Please correct me @cevian.

Can you say which requests are you talking about?
I
f you mean from Prometheus to Promscale as remote write request, then yes, more than one Prometheus servers can send data to single Promscale instance and promscale can handle the cardinality easily.

[2021-04-16 20:03] cevian commented on #591
Yes when we say horizontally scalable we mean [multinode](https://blog.timescale.com/blog/timescaledb-2-0-a-multi-node-petabyte-scale-completely-free-relational-database-for-time-series/) ([docs](https://docs.timescale.com/latest/getting-started/setup-multi-node-basic)). Multinode timescaleDB can receive data from many Promscale and Prometheus nodes.

[2021-04-16 20:16] edwmurph commented on #591
thanks for the quick response!

sorry for the confusion, i meant [custom write requests](https://github.com/timescale/promscale/blob/master/docs/writing_to_promscale.md). ultimately im just trying to understand if this prometheus solution can scale to support 500k+ metrics/min

do you have any benchmarks for how many metrics this architecture can process?

it looks like metrics can be ingested in

[2021-04-17 04:17] Harkishen-Singh commented on #591
500k should be an easy number to reach per min. I have seen way more than that being ingested per sec.

A lot of users use Promscale's push functionality as well, so this should be simple.

@cevian can you please point to the benchmarks here?

[2021-04-19 08:49] patstrom commented on #427
Hello! I have now had time to re-evaluate this with the latest version!

My first try was with a newly created `Timescale-pro-50-4gb-2cpu-compute-optimized (2 CPU, 4 GB RAM, 50 GB storage, backup up to 3 days with PITR) high availability pair` on Postgres 13.2. I then deployed Prometheus and one replica of the Promscale connectior in the same pod using Prometheus-Operator

[code]

The results were

[2021-04-19 10:44] mjf opened #592 "Promscale should not terminate under non-critical conditions"
*Promscale* terminates with error under conditions when one would expect just some log entries. For example when it could not connect to a database (this may be because of many reasons and have simply nothing to do with *Promscale* as such, *i.e.* somebody may have deployed new *Promscale* instance and have not yet configured *PostgreSQL* role for *Promscale* for it, or even hasn't created the dat

[2021-04-19 10:58] Harkishen-Singh commented on #591
@edwmurph we have benchmarks of TimescaleDB as of now. Benchmarking Promscale is on our todo but I do think you can use it since people are ingesting much more than what you asked.

[2021-04-19 11:33] edwmurph commented on #591
great thank you for all the information!

[2021-04-19 11:33] #591 closed

[2021-04-20 09:09] iwctwbai commented on #581
@cevian When will this problem be solved

[2021-04-20 10:55] #572 closed

[2021-04-20 12:11] Harkishen-Singh commented on #592
I agree we shouldn't terminate on all conditions. It would be better to categorize some as recoverable and some as non-recoverable and then terminal only on non-recoverable and the rest can be a retry.

[2021-04-20 13:10] cevian commented on #427
@patstrom Thanks for the very detailed feedback. We will take a look at the query performance issue very soon. It's funny that according to the log, the DB side takes 8-9 secs but promscale results are 48s + timeout. That shouldn't happen.

Please note we have a new [high availability system](https://github.com/timescale/promscale/blob/master/docs/high-avaliability/prometheus-HA.md) starting with

[2021-04-20 13:44] patstrom commented on #427
Yeah I noticed that as well. Very strange. Unfortunately I didn't really have time to pprof promscale.

I did see the new HA system but I didn't really want to get into it too much since I hit the query timeout before I even got there. I'll give it a go for the next test.

[2021-04-20 15:52] cevian commented on #580
@ssube Thanks. Should be ready in a few days.

[2021-04-20 17:56] bobobo1618 opened #596 "Maintenance task CPU load"
I'm running a Git build, commit b4424436f02b200d696c50fdc3d3e9faa6b66d24.

I have two hopefully-related problems:
- There are _always_ two processes running on my system, each consuming an entire CPU core: `postgres: User-Defined Action [1000]` and `postgres: User-Defined Action [1000]`.
- When I run `CALL prom_api.execute_maintenance();`, (as is recommended by the installation docs) it takes 73 m

[2021-04-20 18:06] bobobo1618 commented on #596
I'll add that I also have 1121 hypertables.

[2021-04-21 09:25] aburkevics opened #597 "Remote read with high-availability enabled"
Hello!
I'm trying to configure Prometheus high-availability setup with Promscale using the new setup described here - https://github.com/timescale/promscale/blob/master/docs/high-avaliability/prometheus-HA.md

I'm having an issue that when Promscale is started with `-enable-ha=true` flag, Prometheus doesn't seem to fetch the data from "remote_read" after re-deployment.

This is the related configu

[2021-04-21 10:09] VineethReddy02 commented on #597
Hi!

So the samples ingested into Promscale will hold distinct label sets for different Prometheus clusters i.e. `cluster: <clustername>` so querying with cluster label set should let you query data specific to Prometheus cluster from Promscale.

[2021-04-21 10:14] aburkevics commented on #597
Hi!
Do you mean adding something like this to remote_read config?
[code]
Where "ha-prometheus-poc" is the cluster label value we write?

[2021-04-21 10:37] VineethReddy02 commented on #597
I am slightly confused here. So you are querying Prometheus with remote-read configured to Promscale and you are unable to see the data that is ingested Promscale with HA mode?

[2021-04-21 10:45] aburkevics commented on #597
Yes, Prometheus is configured with remote-write & remote-read to Promscale which has HA mode enabled.

And Grafana has the Prometheus data-source configured, which is where I see that remote-read doesn't work as expected after enabling HA mode in Promscale.

[2021-04-21 11:11] VineethReddy02 commented on #597
Interesting, I haven't noticed this issue. So can you share an example query you are using? I will try to reproduce this on my side.

[2021-04-21 11:52] aburkevics commented on #597
I'm using EC2 (AWS) stats Grafana dashboard for testing this. This is a query for total ammount of memory for an instance:
`node_memory_MemTotal_bytes{instance=~"$node:$port",job=~"$job"}`

Should we be using `cluster` label in our queries when HA is enabled?

When I query metrics in Prometheus "Graph", I don't see that any metric would have `cluster` label. Specifically searching for it, returns

[2021-04-21 13:49] VineethReddy02 commented on #597
Do you mind performing the same query with Promscale? You can add Promscale as the Prometheus datasource in Grafana.
btw the external Labels are attached to the samples that go out of Prometheus for example alertManager, remote-storage systems etc...

[2021-04-21 18:15] cevian commented on #596
@bobobo1618 What is the rest of the log line in the logs. I see the CONTEXT
`Apr 20 08:28:32 Machine postgres[1011526]: 2021-04-20 08:28:32.547 CEST [1011526] CONTEXT:  SQL statement`

but not the message above it (what is it reporting). Thanks.

[2021-04-21 18:54] bobobo1618 commented on #596
Sorry, here you go:

[code]

[2021-04-22 00:59] cevian commented on #596
Still need to look into the query. But, have you tried increasing the max_locks_per_transaction PostgreSQL parameter?

[2021-04-22 07:19] aburkevics commented on #597
Hello!
I can confirm that when Promscale is configured as target in the Grafana "Prometheus" data-source, then all the metrics are there.

[2021-04-22 08:43] hserna1974 opened #599 "Performance between Grafana datasource (promscale connector vs postgresql )"
Hello

I've got a strange situation about retrieval performance from grafana.

When I execute the same query using PromQL and SQL, always the PromQL retrieve the data faster than SQL.

The query is not complex, is just access to one table and retrieve data between a period.

When I choose longer periods, the SQL reponse time takes about 30 seconds, but PromQL takes 1 second.
Ex.:
PromQL:  cpmcputo

[2021-04-22 10:44] Harkishen-Singh commented on #599
Thank you for reporting this.

cc @cevian

[2021-04-23 02:27] cevian commented on #599
Can you try [filtering with label matchers](https://github.com/timescale/promscale/blob/master/docs/sql_schema.md#filtering-series)? So for example, rewrite the above query as:
[code]

I think that should significantly improve performance.

[2021-04-23 02:31] cevian commented on #581
I'll triage this tomorrow

[2021-04-23 07:02] mjf commented on #599
@cevian I see the very same performance issue with direct *SQL* queries into the *PostgreSQL* datasource in comparison to *PromQL* queries using the *Promscale* datasource in *Grafana*. For instance this *PromQL*

[code]

is much much faster than this *SQL* (not measured exactly but the difference is very obvious, at least 3x faster on 1 hour time range)
[code]

The larger time scale I query the l

[2021-04-23 08:01] Harkishen-Singh commented on #599
I haven't checked out, but it seems like SQL results more data points (which means better granularity) than PromQL and hence grafana takes time to fetch these points. The raw SQL query from psql remains sufficiently fast (might be better than promql) since there is no time involved in transferring too many data points.

The points received from promql can be less detailed since promql engine selec

[2021-04-24 11:39] tiehfood opened #600 "Make sure Promscale code is not reliant on search_path. everything should be schema qualified"
If I try to run a query from Grafana on the Promscale-Backend, I get the following error:
[code]

The function prom_api.labels_info is present and defined as:
[code]

I user the latest version of Promscale.
TimescaleDB Version 2.1.1
Promscale Extension 0.1.2
PostgreSQL 13.2

[2021-04-26 10:23] Harkishen-Singh commented on #600
I assume you see that function and the query runs in psql.

[2021-04-26 11:47] #86 closed

[2021-04-26 14:07] VineethReddy02 commented on #597
Hi @aburkevics
We found out the issue, So Prometheus appends the external labels to remote-read requests.

In every Prometheus query, the label sets `cluster=<clusterName>` & `__replica__=<replicaName>` are appended. In our new HA mode. we drop the `__replica__` labelSet while ingesting the data to dedupe the samples received from multiple Prometheus instances.

Now when Prometheus remote-read req

[2021-04-26 18:47] toymachiner62 opened #601 "-version flag returns exit code 1"
I'm trying to use the `-version` flag in my CI build and I run `$ promscale -version` to verify the promscale executable is working expected but my build is failing because it's returning an exit code 1. It should return an exit code 0 so that CI builds will still pass.

![image](https://user-images.githubusercontent.com/485782/116134852-fffc6100-a695-11eb-8f57-5f95affae7ee.png)

[2021-04-26 19:43] tiehfood commented on #600
`SHOW search_path` gives me
[code]
should I add the `prom_api`schema?

[2021-04-27 13:17] hserna1974 commented on #599
Hello again

Does that mean that PromQL are doing data sampling and does not show all collected data, only some of it?

That would mean that a PromQL query would be less reliable than SQL query and however, like you can see in next screenshot, comparing charts in Grafana it seems that same data is shown exactly:
![Comp](https://user-images.githubusercontent.com/83003475/116247443-293af100-a76b-11e

[2021-04-28 10:12] aburkevics commented on #597
Hello!
Great to hear that the cause has been found.
I tried this remote_read config and it still doesn't find the data on startup:
[code]
So for now I assume I'll need to wait for the update in Promscale to use it in ha-mode?

[2021-04-28 11:35] #601 closed

[2021-04-28 11:37] Harkishen-Singh opened #604 "Update prom-migrator docs with recent tls (and related) flags"
The recently added flags in https://github.com/timescale/promscale/pull/578 are yet to be updated in prom-migrator's readme which can be found [here](https://github.com/timescale/promscale/blob/master/cmd/prom-migrator/README.md).

[2021-04-28 11:50] toymachiner62 commented on #601
Closed with no response?

[2021-04-28 12:11] Harkishen-Singh commented on #601
@toymachiner62 this was fixed by #602 and hence I closed it. You can build from master to get the fix right away.

[2021-04-28 12:12] toymachiner62 commented on #601
Thanks. I had jumped the gun before I noticed the corresponding merge.

[2021-04-28 12:17] Harkishen-Singh commented on #601
No problem 👍

[2021-04-28 13:44] VineethReddy02 commented on #597
Hi!

`required_matchers:` are an optional list of equality matchers which have to be present in a selector to query the remote read endpoint.

So you should append this `{__replica__=""}` labelSet in your PromQL queries. That will give the results back from the Promscale HA setup.

[2021-04-29 00:08] andrejpodzimek opened #605 "PostgreSQL passwords are logged in plain text (as part of DbUri)"
Here’s an example (where the password does get obfuscated in the unused defaults (`User:postgres password: ****`), but not in the `DbUri`):

[code]

It would be nice to always wipe out passwords from log output.

For context, I’ve noticed the problem while debugging [this issue](https://bugs.archlinux.org/task/70633). However, password logging ocurs no matter if `promscale` starts successfully or

[2021-04-29 06:51] aburkevics commented on #597
Hi!
I tested multiple configuration combinations with (and without) `required_matchers` and adding `{__replica__=""}` to queries in Grafana, but the result is the same - while Prometheus is up and running, all the active data can be queried. But once Prometheus is "purged" and brought up again from scratch, nothing is returned by remote_read.

Seems like we'll just wait for the next release where

[2021-04-30 14:56] saket9550 opened #608 "Add ability to make number of points returned per timeseries configurable."
Number of samples per timeseries is 11000 by default.Can we make it configurable?
@Harkishen-Singh

[2021-04-30 15:11] cevian opened #609 "add SQL function for label_values"
Add a sql function that giiven:

- metric name
- label name (key)
- time range (optional)

Returns a list of either label ids or label values (TBD).

[2021-04-30 18:00] toymachiner62 opened #610 "Health check endpoint for promscale?"
Is there a healthcheck endpoint for promscale?

Prometheus uses `/-/healthy` as it's healthcheck endpoint and I couldn't find any documention that promscale uses this same endpoint or if it has its own healthcheck endpoint.

[2021-05-02 13:32] tiehfood commented on #600
I've added `prom_api` to the search_path, but still get the same error message

[2021-05-03 08:06] mjf commented on #609
I would suggest providing the following API functions (but also see below):

Function|Description
-|-
`metrics([condition])`|list metric names
`label_names([metric] [, condition])`|list all labels or labels for a metric
`label_values([metric ,] label [, condition])`|list values of all labels or labels for a metric

The `condition` is meant to be placed in an additiona `WHERE` clause(s) inside the

[2021-05-03 09:08] stappersg opened #612 "PromQL URL for Grafana"
Hi,

I switched from _prometheus + prometheus-progresql-adaptor -> timescaledb_ to _prometheus -> promscale + timescaledb_. Prometheus is at server with hostname `prometheus` and timescaledb all the time at host `prometheus-db`.

Grafana still has URL  `http://prometheus.example.com:9090`.   ( Using `example.com` for documentation purposes. )
Switching grafana URL to `http://prometheus-db.example.

[2021-05-03 11:18] stappersg commented on #612
The PromQL URL for grafana is  `http://prometheus-db.example.com:9201`.
Yes, the same TCP port as for _Remote write_ and _Remote read_,  **not** the `:9090` of Prometheus.

[2021-05-03 11:18] #612 closed

[2021-05-03 16:17] toymachiner62 opened #613 "Using alias "time" returns different results"
I have promscale setup on my aws stack and points to my timescaledb cloud instance for data persistence.

When I run this query against timescaledb directly

[code]

I get these results:
![image](https://user-images.githubusercontent.com/485782/116902606-f37d8880-ac00-11eb-9907-0594ecd25ee9.png)

But if I run that same query except change the alias from `day` to `time`

[code]
I get completely dif

[2021-05-03 19:12] toymachiner62 opened #614 "How to query promscale data without using count(*)"
The timescaledb docs https://docs.timescale.com/latest/tutorials/tutorial-grafana-dashboards on using promscale + grafana all have examples of using `count(*)` which implies that every entry in the prom_metric tables in timescaledb corresponds to a single value being incremented.

In the real world this doesn't seem to work because the `value` column of a `prom_metric` view can have a value greate

[2021-05-03 19:16] Harkishen-Singh commented on #610
Hey @toymachiner62, I think `/healthz` is what you want in Promscale.

[2021-05-03 19:17] Harkishen-Singh commented on #613
@toymachiner62 can you run the same query on psql and see if the output is still different?

[2021-05-03 19:20] toymachiner62 commented on #613
Yes it outputs the same.

[code]

[code]

[2021-05-03 20:00] cevian commented on #613
The issue is that the group by clause in SQL does not obey aliases. So the second query is grouping by the raw timestamp and not the bucketed timestamp. The correct query in the second format forces the bucketing in the group by:
[code]

[2021-05-04 08:21] antekresic commented on #605
Sorry about this, looks like your case was missed by our masking utility.

I've created a PR to fix this.

Thanks for reporting!

[2021-05-04 14:31] #613 closed

[2021-05-04 14:36] cevian commented on #614
Sorry, do you mean using something like `sum(value)` instead of count(*)? Not sure I understand your question. A list of the available aggregate functions is available here: https://www.postgresql.org/docs/13/functions-aggregate.html#FUNCTIONS-AGGREGATE-TABLE

[2021-05-05 09:10] Harkishen-Singh opened #617 "Make drop metric not require a Promscale restart"
As reported by @mjf, requiring a restart of Promscale for a single drop of metric is not great, as users can be adding data and dropping multiple of them at any instant. This should be made independent of restarts.

The reason behind the need to restart Promscale was:
1. Sync the cache
2. stop running metric batcher routines that will otherwise be running forever
3. If the cache is not synced, the

[2021-05-05 16:14] #605 closed

[2021-05-06 01:07] toymachiner62 commented on #614
Well thinking about this further, I was originally thinking that promscale was reporting the current count to timescaledb every minute, but I might have been doing something else wrong. Let me check blow my data away and look into this again.

[2021-05-06 01:10] cevian commented on #617
Definitely not a sev 1. This is a feature request

[2021-05-06 01:17] cevian commented on #600
The search path should have been set by the promscale installation. It should have run:

[2021-05-06 01:23] cevian commented on #600
The search path should have been set by the promscale installation. It should have run:
[code]
Maybe this setting is somehow being overridden in your system? Try logging in with the same user as promscale is given and running SHOW search_path

In any case, this is also a bug on our end since we shouldn't be reliant on that.

[2021-05-06 01:28] cevian commented on #599
Hmm the results from labels ? ( 'instance' == '10.100.1.251' )  and val("instance_id") = '10.100.1.251' should be exactly the same, so I am not positive what's going on. What is the query time for the labels ? ( 'instance' == '10.100.1.251' )  query?

[2021-05-06 01:54] cevian commented on #596
Looking over this, I suspect that the default of  max_locks_per_transaction = 64 is just too low for 1121 hypertables. What may be happening with the jobs is that they do a lot of work, then reach this query (which is the final one), run out of locks, fail, and undo all the work they just did. It would be interesting to know if the situation improves with max_locks_per_transaction increase.

[2021-05-06 02:00] cevian commented on #580
#616 should be the last PR. Sorry took longer than expected. Plan to merge it probably tomorrow. The next release will definitely have it and is scheduled for May 17

[2021-05-06 02:01] cevian commented on #562
Last PR resolving this should be #616 it will be included in the next release

[2021-05-06 08:04] patstrom commented on #427
Hello! Have you had time to take a look at this? :)

[2021-05-06 10:14] #608 closed

[2021-05-07 13:41] #597 closed

[2021-05-09 02:35] mauriciocirelli opened #622 "Promscale fails to connect to Azure Postgresql"
Dear,

I am trying to setup promscale using a managed postgresql server I have deployed on Microsoft Azure.
It is running Postgresql v11 and I have installed timescaledb extension manually.

I can connect to this instance using psql command line, but promscale cant:

` ./promscale --db-user <USER>@<HOSTNAME> --db-host <HOST URL> --db-name <DBNAME> --db-password <PASS> --db-ssl-mode require`

Am I

[2021-05-09 18:18] VineethReddy02 commented on #622
Hi @mauriciocirelli
The command looks good but `--db-user` expects just the db user (I am not sure on why `@ <HOSTNAME>` to the value). Also, if the DB port isn't default port `5432` then you need to explicitly provide the port using `--db-port`.

Below are the flags exposed in Promscale to provide db details:
[code]

An alternate way to connect to managed databases is using `--db-uri` flag. All y

[2021-05-09 22:53] mauriciocirelli commented on #622
Hi,

Thank you for your reply.
At first, I had forgotten to include @hostname in the user parameter.
The error was pretty clear:

Then I included @hostname at the user parameter and got that cryptic error message:

It seems to me that Azure DB is sending a Welcome Message to the driver it does not expect to.

[2021-05-09 23:57] mauriciocirelli commented on #622
Hi,

I have made some progress.
I have installed pgbouncer and I am using it to serve promscale.
It seems to be a problem between the driver and Azure.

Moving on, I have got this error message:
`must be owner of database promscale (SQLSTATE 42501)`
So, the user must be dbOwner... not a problem.

Let's move on:
`dependency error: problem checking PostgreSQL version: Incompatible postgresql version

[2021-05-10 09:20] VineethReddy02 commented on #622
@mauriciocirelli All the Promscale versions (from very first release `0.1.0`) only work with Postgres version `>=12.x`. There is no workaround for this.

[2021-05-10 13:54] hserna1974 commented on #599
Hello

These are the test that I did

![Test1](https://user-images.githubusercontent.com/83003475/117670275-061b3300-b1a8-11eb-9c84-53b0c5884d54.jpg)
![Test2](https://user-images.githubusercontent.com/83003475/117670287-07e4f680-b1a8-11eb-8de4-3a7690770209.jpg)
![Test3](https://user-images.githubusercontent.com/83003475/117670292-07e4f680-b1a8-11eb-8213-e07ed1c69427.jpg)

[2021-05-10 15:05] Harkishen-Singh commented on #614
Promscale just converts the incoming Prometheus data into SQL queries as it receives the data and sends to Timescaledb. Sorry but I don't understand what Promscale will report.

[2021-05-10 15:09] toymachiner62 commented on #614
Do you have any idea what the converted query could be? Or how to replicate that simple promQL query into a correct timescaledb query? At this point the timescale docs https://docs.timescale.com/latest/tutorials/tutorial-grafana-dashboards are not helpful as they don't reflect reality since they always assume `COUNT(*)`.

[2021-05-10 19:00] mauriciocirelli commented on #622
I have seen that release notes from Microsoft... but could not create the new database using the new version.. It does not give me this option.. I think this is something pretty new from Microsoft..

I have decided to follow the tutorial for bare metal installation. It seems to be working, but I would like to know how to create a systemd service to run promscale. It seems that it does not run by i

[2021-05-10 19:31] VineethReddy02 commented on #622
Creating a service using the same Promscale cmd should work too. You can also run Timescale cloud on azure as a mnaged offering more details here https://www.timescale.com/products

[2021-05-10 20:01] mauriciocirelli commented on #622
I will look into that.

Thank you!

[2021-05-11 13:16] VineethReddy02 commented on #622
@janbrunrasmussen I am not aware of the flex server option. But Promscale expects Timescaledb extension as also the power storing, retrieving, and compressing time-series data is dependent on timescaleDB extension. Promscale extension is optional it just enhances the performance of Promscale.

@mauriciocirelli we haven't considered pg 11 right from the beginning of Promscale development. Let me di

[2021-05-12 13:30] PixelBumper commented on #506
@cevian We are experiencing a similar issue so we thought we might try to fill in the missing explain analyze.
We first tried to go with limit 10000, however a full explain analyze did only complete with limit 1

Here is the output

    explain analyze WITH potentially_drop_series AS (
	            SELECT distinct series_id
	            FROM prom_data.container_memory_failures_total
	            W

[2021-05-12 13:44] PixelBumper commented on #506
for these we get

    ERROR:  relation "prom_data.service:function_evals:joined" does not exist

and

    ERROR:  relation "prom_data_series.service:function_evals:joined" does not exist

[2021-05-12 17:59] mauriciocirelli opened #623 "Memory issues when querying many data points"
Dear,

I am in the process of migrating current Prometheus + Grafana setup to Prometheus + Promscale + Postgres + Grafana in order to have better performance, specially for long-term metrics. Unfortunately, I am having much worse performance in the new setup.

There is one metric that generates some thousands of data points everyday and my goal is to average them daily and present the results in a

[2021-05-13 12:04] mohanagandlla opened #625 "ERROR: could not open extension control file"
[code]
how to install this contribute to psql

[2021-05-14 06:24] mjf commented on #609
Some attempts to find out the functions are in [this gist](https://gist.github.com/mjf/67aa5bf87438a0430e1b2f9e3f19bb58).

[2021-05-15 16:50] andrejpodzimek commented on #562
Thanks a lot for working on this. Is there any documentation on how to migrate from the old setup (the one with two roles that required a bit of manual tweaking) to the new setup? I assume I’ll need to give Promscale (temporarily) some extra `CREATEROLE` permissions so that it can update its configuration.

Also, #616 and related changes (still) seem to be using hardcoded database role names (e.g.

[2021-05-18 11:13] antekresic commented on #625
Seems like you haven't installed the TimescaleDB extension properly. Please take a look at the documentation on how to do it: https://docs.timescale.com/timescaledb/latest/how-to-guides/install-timescaledb/self-hosted/

I'm not quite sure what is has to do with Promscale. Hope this helps.

Thanks!

[2021-05-18 12:56] Harkishen-Singh commented on #623
Hey @mauriciocirelli thank you for reporting and I am sorry for the issue and delayed reply. Can you share your PromQL query that's causing the issue?

[2021-05-18 13:07] mauriciocirelli commented on #623
Hi!

Thank you for looking into this.

The query is very basic: avg_over_time(my_custom_metric{connectionType=~"4G"}[$__range])
This is a custom metric of ours to monitor connection quality of our devices. It returns points with their respective 4G signal strenght (4G networks in this case). $__range is Grafana's variable which represents current dashboard interval. In the case I reported the issu

[2021-05-19 06:14] Harkishen-Singh commented on #572
@andrejpodzimek we just released `0.0.1` with this fix. You can read more changes [here](https://github.com/timescale/promscale/releases/tag/0.4.0). Let me know if the problem persists.

[2021-05-19 06:16] Harkishen-Singh commented on #363
This issue is being fixed by #624

[2021-05-19 06:38] Harkishen-Singh commented on #427
cc @cevian

[2021-05-19 10:01] mjf opened #1189 "Replace the BETWEEN operator in Grafana Postgres DS"

[2021-05-20 22:56] cevian commented on #625
You should use our docker image as described here: https://github.com/timescale/promscale/blob/master/docs/docker.md

[2021-05-21 01:39] toymachiner62 opened #630 "Is the prometheus /metrics endpoint supposed to be persistent on container restarts?"
I have a setup i'm where I have 2 containers in an AWS ECS task, one being a prometheus container and one being a promscale container.

I'm pointing my promscale container to timescaledb on timescale cloud.

This is working well in that when I hit my prometheus container's `/metrics` endpoint I see my custom metrics that I created in my app.

If I restart my ECS task which restarts my prometheus a

[2021-05-21 03:39] Harkishen-Singh commented on #630
Can you explain the meaning of data reset in which context?

Promscale is a stateless service, whose job is to push data to Timescaledb as soon as it receives from Prometheus.

[2021-05-22 09:56] bobobo1618 commented on #596
I updated my max_locks_per_transaction to 512 (and ran `timescaledb-tune`) and `CALL prom_api.execute_maintenance();` now completes without throwing errors but takes ~45 minutes to complete, pegging an entire CPU core the entire time.

However after having not run it at all for a couple of weeks, it only took 85 mins to complete, so I think it's going to make the most sense for me to just run it l

[2021-05-22 11:10] mohanagandlla commented on #625
Yes but I have a postgres which is running on alpine os how do I install
this extension.

On Fri, 21 May 2021, 04:26 Matvey Arye, ***@***.***> wrote:

[2021-05-24 06:25] computerphilosopher opened #633 "Docker pull failed with in Centos7(AMD64)"
I can't pull promscale-extension's container image.

Command
[code]

Result
[code]

How can I fix it?

[2021-05-24 14:03] raviranjanelastisys opened #635 "Promscale integartion with timescaleDB ext with Apache 2.0 liecense"
Integration of PostgreSQL deployed via zalando operator  with timescaleDB extension ( Apache 2.0 ) does not support with Promscale .Can you fix it ?

![image](https://user-images.githubusercontent.com/75951259/119358177-ac872e00-bca8-11eb-8ab2-72217a88b6fe.png)

[2021-05-24 18:25] Harkishen-Singh commented on #635
This has been in our backlog. We did a bit of discussion and thought to do some work on this on upcoming quarter due to tight plans right now.

However, would be awesome if you want to fix this and submit a PR for this. This will be an awesome help to the project as well. Let me know if you are interested, and I can try to help you with it.

[2021-05-24 18:28] Harkishen-Singh commented on #614
Sorry for the delay in response.

@toymachiner62 you can mention your promql query here and I can write the SQL form of it.

We can DM over slack if you want more SQL queries. That will be faster than communicating over GitHub issues.

[2021-05-24 18:32] Harkishen-Singh commented on #581
Ping @cevian

[2021-05-25 06:23] raviranjanelastisys commented on #635
Currently i have some time constraints  but will wait for your team to fix this .

[2021-05-25 06:51] Nathapat-Boss opened #638 "Prom-migrator process terminate without notice after 2 hours."
Hi Promscale team,

Now I'm using prom-migrator to migrate data from TimeScaleDB 1.7 to TimeScaleDB 2.2.1 as following this diagram

<img width="734" alt="Screen Shot 2564-05-25 at 13 55 49" src="https://user-images.githubusercontent.com/84016026/119452807-faf80380-bd60-11eb-96f7-f8b269792788.png">

I have run prom-migrator to migrate data with 7 day time ranges. At first it seem running fine but

[2021-05-25 09:36] Harkishen-Singh commented on #633
@cevian can you please take a look at this?

[2021-05-25 09:39] Harkishen-Singh commented on #596
We should definitely document this.

We recommend running cron job for this every 30 minutes for best results.

[2021-05-25 09:41] Harkishen-Singh commented on #623
We are investigating this. The initial belief is that we are running out of db connection pools which may be the cause of slow down or timeout.

This can be a bug on our side. We will update here if on any event. Thank you for reporting!

[2021-05-25 09:48] Harkishen-Singh commented on #614
Also, @toymachiner62  the docs link you mentioned are not reference for PromQL data. For PromQL, you need to look into docs of Promscale. This might be helpful. https://github.com/timescale/promscale/blob/master/docs/sql_schema.md

[2021-05-25 09:50] Harkishen-Singh commented on #599
PromQL returns data based on resolution, so you get less samples. I dont think that is the case on SQL size, which is why you are getting so much of data.

[2021-05-25 09:51] Harkishen-Singh commented on #610
Please consider closing the issue if this is resolved.

[2021-05-25 09:51] bobobo1618 commented on #596
Upon what is that recommendation based?

Right now, every 30 minutes isn't an option, because the job doesn't complete within 30 minutes. I can either:

- Run it as frequently as possible, in which case it costs 1 CPU core.
- Run it once an hour, in which case it takes 45 minutes and costs 0.75 CPU cores.
- Run it once a day in which case I expect it to take around 50 minutes, costing 0.035 CPU co

[2021-05-25 10:04] Harkishen-Singh commented on #596
I think the reason why its taking that much time is you have uncompressed chunks that were pending from long.

When execute_maintenance is executed, it goes through all metric hypertables and checks if there are any pending chunks that can be compressed. If yes, it executes compression on them, otherwise moves to the next metric.

I think the math you are doing is averaging the CPU over time which

[2021-05-25 10:12] bobobo1618 commented on #596
But when I run it again _immediately after it finishes_, it still takes 45 minutes. 45 minutes is the minimum amount of time it takes to complete.

I _can't_ run it every 30 minutes because it takes longer than 30 minutes to complete.

[2021-05-25 10:16] Harkishen-Singh commented on #596
Got it.

Can you just run `CALL _prom_catalog.execute_compression_policy()` successively and see how much time it takes?

[2021-05-25 11:53] bobobo1618 commented on #596
That on its own consistently takes ~31 minutes.

[2021-05-25 16:14] Harkishen-Singh commented on #596
Then I guess the time taken for the checks is significant. In that case, should be good to go with the math you mentioned above, regarding per ~week.

[2021-05-25 20:19] cevian commented on #562
@andrejpodzimek All the role migration stuff should happen automatically when you upgrade Promscale and migrate the schema.

Hmm the role name prefix idea is an interesting one and I do see why it may be useful. It also doesn't quite seem straightforward to implement since we'd have to have protections against people accidentally trying to use different prefixes on different promscale instances, a

[2021-05-25 20:27] cevian commented on #625
if you don't want to switch the docker image (which is what I recommend) you can follow https://github.com/timescale/timescaledb-docker/blob/master/Dockerfile as a guide to install timescaledb on alpine

[2021-05-25 20:30] cevian commented on #630
@toymachiner62 the data should still be there after Promscale restart if you query the Promscale (not Prometheus) pod from grafana

[2021-05-26 06:43] akamensky opened #640 "No documentation available for environment variables configuration options."
Subj.

It needs to be present somewhere for those of us using Docker to run this.

[2021-05-26 06:51] Harkishen-Singh commented on #640
Thank you @akamensky for opening the issue.

@antekresic can you please take a look at this?

[2021-05-26 06:55] akamensky opened #641 "Using PROMSCALE_DB_URI causes invalid DB name passed to client libraries"
In docker-compose.yml:
[code]
Causes:
[code]
It appears to simply concatenates strings to append extra options (why does it add options I did not ask for to begin with?), which causes this error.

Verified that adding `?` at the end of URI fixes this issue.

It should not:

1. Assume that there is already any params exist (hence shouldn't assume `?` already exists in URI)
2. Shouldn't add extra ar

[2021-05-27 04:02] Nathapat-Boss commented on #638
I have found the root cause for 2 hours terminate. Because I ran the prom-migrator by ssh to remote storage then executed it as front process and the session for ssh will terminate within  2 hours if no interactive.

Fix by running nohup prom-migrator & so to run it as background process.

After it bypass 2 hours barrier , I found another error cause by timeout.

level=error ts=2021-05-25T23:34:59

[2021-05-27 07:33] ali-ghasempor opened #645 "Password is not masked in promscale logs"
Hello,

I noticed after updating to Promscale 0.4.0 Docker image (timescale/promscale:0.4.0) the password is printing inside Promscale logs alongside with some stars.
There was similar Similar fix in Promscale 0.4.1 [link](https://github.com/timescale/promscale/commit/2d008fad035694916efd0ccb5ec75d92c0fe4d0f), and I added reported the issue there as well (https://github.com/timescale/promscale/pul